mixin ie(condition)
	| <!--[!{condition}]>
	block
	| <![endif]-->

mixin non-ie()
	| <!--[if !IE]><!-->
	block
	| <!--<![endif]-->

mixin meta(name, content)
	meta(name=name, content=content)

mixin link(href, name)
	a(id!=attributes.id, class!=attributes.class, href=href)
		=name

mixin data(name, value)
	!=data(name, value)

mixin csrf()
	input(type="hidden", name="_csrf", value=_csrf)

mixin form(url, method)

	- var enctype
	unless method
		- method = "POST"
	if method == "FILE"
		- enctype = "multipart/form-data"
		- method = "POST"

	form(id!=attributes.id, class!=attributes.class, action=url, method=method, enctype=enctype)
		div
			+csrf()
		block
