mixin ie(condition)
	| <!--[!{condition}]>
	block
	| <![endif]-->

mixin non-ie()
	| <!--[if !IE]><!-->
	block
	| <!--<![endif]-->

mixin meta(name, content)
	meta(name=name content=content)

mixin link(href, name)
	a.link&attributes(attributes)(href=href)
		=name

mixin script(src, name)
	script(src=src)

mixin redirectHome()
	p
		!=s("Vous allez être redirigé vers {link}", { link: jd('a(href="/").\n\t' + s("www.wornet.fr")) })
	script
		:coffee
			setTimeout ->
				location.href = '/'
			, 3000

mixin data(name, value)
	!=data(name, value)

mixin csrf()
	input(type="hidden" name="_csrf" value=_csrf)

mixin glyph(type)
	span(class="glyphicon glyphicon-" + type)

mixin form(url, method)

	- var enctype, _method, maxsize = -1
	unless method
		- method = "POST"
	- method = strtoupper(method)
	if ["PUT", "DELETE"].indexOf(method) !== -1
		- _method = method
		- method = "POST"
	if method == "FILE"
		- enctype = "multipart/form-data"
		- method = "POST"

	if attributes.maxsize
		- maxsize = intval(attributes.maxsize)
		- delete attributes.maxsize
	else if enctype == "multipart/form-data"
		- maxsize = config.wornet.upload.maxsize

	form&attributes(attributes)(action=url method=method enctype=enctype)
		div
			+csrf()
			if _method
				input(type="hidden" name="_method" value=_method)
			if maxsize > 0
				input(type="hidden" name="MAX_FILE_SIZE" value=maxsize)
		block

mixin formControl(type)
	if attributes.tooltip
		.tooltip.tooltip-focus(class=(attributes.tooltip[2] || "left"))
			.tooltip-arrow
			.tooltip-inner
				h4
					!=attributes.tooltip[0]
				p
					!=attributes.tooltip[1]
		- delete attributes.tooltip
	input&attributes(attributes).form-control(type=(type||"text") spellcheck!=(attributes.spellcheck || "false") autocomplete=(attributes.autocomplete || "off"))