mixin notifications(classes, mobile)
	- var notificationsCount = count(notifications, true)
	- classes += " " + (mobile ? "notifications-mobile" : "notifications nav")
	- var liClasses = (mobile ? "" : "btn-group")
	ul(class=classes pill): li(class=liClasses)
		a.dropdown-toggle( data-toggle="dropdown")
			if mobile
				span.glyphicon.btn-notification-mobile
				span.pill.mobile-pill
					=notificationsCount
			else
				=s("Notifications")
				| &nbsp; 
				span.pill
					=notificationsCount
		ul.dropdown-menu.notification-list.left(role='menu' ng-controller="NotificationsCtrl" class=(mobile?"notification-list-mobile":""))
			li.read-all
				a.read-all-notifs(ng-click="readAll()")
					=s("Tout marquer comme lu")
			li.divider.cb
			li(ng-repeat="notification in notifications | lastest:" + config.wornet.limits.notifications ng-switch="notification[3]" data-id="{{ notification[0] }}")
				a(ng-switch-when="friendAccepted" href="{{ notification[2] }}" class="friend-accepted")
					span(ng-bind-html="trust(notification[1])")
					|&nbsp;
					i.mobile-notification-date.date(data-date="{{ notification[0] }}")
						|&nbsp;
					.notification-date: i.date(data-date="{{ notification[0] }}")
						|&nbsp;
					| &nbsp; 
				a(ng-switch-when="askForFriend" href="/notification/{{ ifId(notification[0], $index) }}" class="friend-ask" ng-attr-data-id="{{ notification[2] }}")
					img(ng-src="{{ notification[1].thumb50 }}" alt="{{ notification[1].name.full }}" data-id="{{ notification[1].hashedId }}" data-toggle="tooltip" data-placement="top" title="{{ notification[1].name.full }}").thumb
					=" "
					- var dataWithUser = { username: jd('span.username {{ notification[1].name.full }}') }
					!=s("{username} souhaite vous ajouter à ses amis.", dataWithUser)
					i.mobile-notification-date.date(data-date="{{ notification[0] }}")
						|&nbsp;
					.notification-date: i.date(data-date="{{ notification[0] }}")
						|&nbsp;
					| &nbsp; 
					.btn.accept-friend
						=s("Accepter")
					| &nbsp; 
					.btn.ignore-friend
						=s("Ignorer")
				a(ng-switch-default)
					span(ng-bind-html="trust(notification[1])")
					|&nbsp;
					i.mobile-notification-date.date(data-date="{{ notification[0] }}")
						|&nbsp;
					.notification-date: i.date(data-date="{{ notification[0] }}")
							|&nbsp;
						| &nbsp; 
			if notificationsCount > 0
				each notification, id in notifications.lastest(config.wornet.limits.notifications)
					- var askingFriend = objectToUser(notification[1])
					li(class=(notification.read ? 'read' : null) data-id=trim(notification[0], '"'))
						a(class=(askingFriend ? 'friend-ask' : null) data-id=(askingFriend ? notification[2] : null))
							if askingFriend && askingFriend.hashedId
								img(src=askingFriend.thumb50 alt=askingFriend.name.full data-id=askingFriend.hashedId data-toggle="tooltip" data-placement="top" title=askingFriend.name.full).thumb
								=" "
								- var dataWithUser = { username: jd('span.username ' + ucfirst(askingFriend.name.full)) }
								span
									!=s("{username} souhaite vous ajouter à ses amis.", dataWithUser)
								| &nbsp;
								i.mobile-notification-date.date(data-date=trim(notification[0], '"'))
									|&nbsp;
								.notification-date: i.date(data-date=trim(notification[0], '"'))
									|&nbsp;
								| &nbsp;
								.btn.accept-friend
									=s("Accepter")
								| &nbsp;
								.btn.ignore-friend
									=s("Ignorer")
							else
								!=(notification[1] || '').replace(/(\/img\/default-photo\.jpg)%3F/, '$1?')
								|&nbsp;
								i.mobile-notification-date.date(data-date=trim(notification[0], '"'))
									|&nbsp;
								.notification-date: i.date(data-date=trim(notification[0], '"'))
									|&nbsp;
								| &nbsp;
				li.divider.cb
				li.activities-list
					a.activities(href="/user/notify/list/all")
						=s("Mon journal d'activité")
			else
				li.read: a: span.no-notice
					=s("Vous n'avez aucune notification pour le moment.")
