mixin notifications(classes)
	- var notificationsCount = intval(notifications.length)
	ul.notifications.nav(class=classes): li.btn-group
		a.dropdown-toggle(href="#" data-toggle="dropdown")
			span.mobile
				+glyph('globe')
				| &nbsp; 
			=s("Notifications")
			| &nbsp; 
			span.pill
				=notificationsCount
		ul.dropdown-menu(role='menu' ng-controller="NotificationsCtrl")
			if notificationsCount > 0
				each notification, id in notifications
					- var askingFriend = objectToUser(notification[1])
					li: a(href="/notification/" + (/^[0-9a-fA-F]+$/g.test(notification[0]) ? notification[0] : id) class=(askingFriend ? 'friend-ask' : null) data-id=(askingFriend ? notification[2] : null))
						i.date(data-date=trim(notification[0], '"'))
							|&nbsp;
						| &nbsp; 
						if askingFriend && askingFriend.hashedId
							img(src=askingFriend.thumb50 alt=askingFriend.name.full data-id=askingFriend.hashedId data-toggle="tooltip" data-placement="top" title=askingFriend.name.full).thumb
							=" "
							- var dataWithUser = { username: jd('span.username ' + ucfirst(askingFriend.name.full)) }
							!=s("{username} souhaite vous ajouter à ses amis.", dataWithUser)
							br
							.btn.accept-friend
								=s("Accepter")
							| &nbsp;
							.btn.ignore-friend
								=s("Ignorer")
						else
							=notification[1]
			li(ng-repeat="notification in notifications" ng-switch="notification[3]")
				a(ng-switch-when="friendAccepted" href="{{ notification[2] }}" class="friend-accepted")
					i.date(data-date="{{ notification[0] }} ")
						|&nbsp;
					| &nbsp; 
					=" "
					span(ng-bind-html="notification[1]")
				a(ng-switch-when="askForFriend" href="/notification/{{ $index }}" class="friend-ask" ng-attr-data-id="{{ notification[2] }}")
					i.date(data-date="{{ notification[0] }} ")
						|&nbsp;
					| &nbsp; 
					img(ng-src="{{ notification[1].thumb50 }}" alt="{{ notification[1].name.full }}" data-id="{{ notification[1].hashedId }}" data-toggle="tooltip" data-placement="top" title="{{ notification[1].name.full }}").thumb
					=" "
					- var dataWithUser = { username: jd('span.username {{ notification[1].name.full }}') }
					!=s("{username} souhaite vous ajouter à ses amis.", dataWithUser)
					br
					.btn.accept-friend
						=s("Accepter")
					| &nbsp; 
					.btn.ignore-friend
						=s("Ignorer")
				a(ng-switch-default href="/notification/{{ $index }}")
					i.date(data-date="{{ notification[0] }} ")
						|&nbsp;
					| &nbsp; 
					span(ng-bind-html="notification[1]")
