.well.profile(ng-controller="ProfileCtrl")
	.profile-edit(class=(edit ? "hidden" : null))
		.profileError
			if ! empty(friendAsked)
				.alert.alert-success
					=friendAsked
		.photo-options
			#profile-photo
				img.upload-thumb(src=profile.thumb200 data-user-thumb=profile.hashedId data-thumb-size="200" data-view-src=profile.photo alt=profile.fullName)
			if isMe && profile.photoId
				.btn(ng-click="deletePhoto($event)")
					span.long
						=s("Supprimer ma photo")
					span.short
						=s("Supprimer")
	.profile-edit(class=(edit ? null : "hidden"))
		iframe(name="upload")
		.photo-options
			+form("/user/photo", "FILE")#profile-photo(target="upload")
				.progress-radial: .overlay
					img.upload-thumb(src=profile.thumb200 data-user-thumb=profile.hashedId data-thumb-size="200" alt=profile.fullName)
					.btn
						+glyph('edit')
						span.long
							=s("Changer de photo")
						span.short
							=s("Changer")
					input.upload(type="file" accept="image/*" capture="camera" data-toggle="tooltip" data-placement="top" title=s("Votre photo") ng-model="user.photo" name="photo")
	if isMe
		a.profile-display.profile-edit-btn.aside(href="/user/profile/edit")
			=s("Modifier mon profil")
			| &nbsp;
			+glyph('edit')
		.profile-edit(class=(edit ? null : "hidden"))
			+form("/user/profile/edit")
				input(type="hidden" id="uploadedPhotoId" name="photoId" value=profile.photoId)
				mixin profileText(name)
					label
						span
							=userTexts[name]
						+formControl(name=name value=profile[name])&attributes(attributes)
				mixin profileEnum(name)
					label
						span
							=userTexts[name]
						select.form-control(name=name autocomplete="off")
							option(value="")
								=userTexts.noDisplay
							each status in profile.schema.path(name).enumValues
								if status
									option(selected=(profile[name] === status) value=status)
										=userTexts[status]
				+profileText("city")
				+profileText("birthCity")
				+profileText("job")
				+profileText("jobPlace")(placeholder=s("Où travaillez-vous ?"))
				+profileEnum("maritalStatus")
				+profileEnum("loveInterest")
				label
					span
						=s("Biographie")
					textarea.form-control.counter(name="biography" maxlength=config.wornet.limits.biographyLength)=profile.biography
				.btn-group
					input(type="submit" value=s("Enregistrer")).btn.btn-primary
				.btn-group
					input(type="button" value=s("Annuler")).btn.cancel.profile-edit-btn
					| &nbsp;
	else if isAFriend
		.aside
			a.block(ng-click="chatWith(" + JSON.stringify(profile.publicInformations()) + ")")
				=s("Discuter")
				| &nbsp;
				+glyph('comment')
			a.block(ng-click="deleteFriend('" + profile.hashedId + "', '" + profile.fullName + "')")
				=s("Retirer des amis")
				| &nbsp;
				+glyph('minus')
	.profile-edit(class=(edit ? "hidden" : null))
		h3.important
			if (isAFriend || isMe) && profile.preRegistered()
				+glyph('certificate')(data-toggle="tooltip" data-placement="top" title=s("Je me suis pré-inscrit"))
				|&nbsp;
			=strtoupper(profile.fullName)
			if ! isMe && user && ! askedForFriend
				if isAFriend
					if config.wornet.bestFriends.enabled
						- var isNormal = JSON.stringify(s("Vous serez uniquement notifié si {username} publie sur votre mur.", { username: profile.fullName }))
						- var isBest = JSON.stringify(s("Vous serez notifié de toutes les publications de {username}.", { username: profile.fullName }))
						a.inline-button(
							ng-init="isABestFriend = " + isABestFriend
							ng-click="isABestFriend = ! isABestFriend; $event.preventDefault()"
							href="/user/friend/{{ isABestFriend ? 'best' : 'normal' }}/" + profile.hashedId
							data-ajax
							data-target=".profileError"
							data-click="success"
							data-param0='{{ isABestFriend ? ' + isBest + ' : ' + isNormal + ' }}'
						)
							+glyph("star{{ isABestFriend ? '' : '-empty' }}")
				else
					br
					a.add-friend.destroyable.inline-button.btn.btn-primary(
						href="/user/friend/" + profile.hashedId + "/" + encodeURIComponent(profile.fullName)
						data-target=".profileError"
						data-click="success"
						data-param0=s("Demande envoyée à {username}", { username: profile.fullName })
						data-ask-for-friend=profile.hashedId
					)
						+glyph('user')
						=' '+strtoupper(s("Ajouter à la liste d'amis"))
		if isAFriend || isMe
			if ! profile.birthDate || profile.maskBirthDate
				if profile.birthCity
					h5
						- var infos = { date: profile.birthDate.humanDate() }
						if profile.birthCity.toLowerCase().substr(0, 3) === 'le '
							- infos.city = profile.birthCity.substr(3)
							=s("Né au {city}", infos)
						else
							- infos.city = profile.birthCity
							=s("Né à {city}", infos)
			else
				h5
					- var infos = { date: profile.birthDate.humanDate(), age: profile.age }
					if profile.birthCity
						if profile.birthCity.toLowerCase().substr(0, 3) === 'le '
							- infos.city = profile.birthCity.substr(3)
							=s("Né le {date} ({age} an) au {city}|Né le {date} ({age} ans) au {city}", infos, profile.age)
						else
							- infos.city = profile.birthCity
							=s("Né le {date} ({age} an) à {city}|Né le {date} ({age} ans) à {city}", infos, profile.age)
					else
						=s("Né le {date} ({age} an)|Né le {date} ({age} ans)", infos, profile.age)
			.user-points
				h5
					if !profile.points
						- profile.points=0
					span.points
						!=s("{points} point|{points} points", { points: jd('b ' + profile.points) }, profile.points)
			.about-user
				if profile.city
					.col-xs-12.col-sm-6
						p
							+glyph('home')
							if profile.city.toLowerCase().substr(0, 3) === 'le '
								=s("Habite au {city}", { city: profile.city.substr(3) })
							else
								=s("Habite à {city}", { city: profile.city })
				if profile.maritalStatus
					.col-xs-12.col-sm-6
						p
							+glyph('user')
							=colon(userTexts.maritalStatus)
							=userTexts[profile.maritalStatus]
				if profile.job
					.col-xs-12.col-sm-6
						p
							+glyph('briefcase')
							if profile.jobPlace
								=s("{job} à {place}", { job: profile.job, place: profile.jobPlace })
							else
								=s("{job}", { job: profile.job })
				else if profile.jobPlace
					.col-xs-12.col-sm-6
						p
							+glyph('briefcase')
							=s("Travail à {place}", { place: profile.jobPlace })
				
				if profile.loveInterest
					.col-xs-12.col-sm-6
						p
							+glyph('heart')
							=userTexts.loveInterest
							| 
							=userTexts[profile.loveInterest]
			if profile.biography
				h5
					=userTexts.biography
				p.biography(ng-init="biography = " + JSON.stringify(profile.biography) ng-bind-html="biography | smilies")
					=profile.biography	
			if user.sex == "default" && isMe
				.col-xs-12.alert.alert-info.missing-sex: span
					=s("Vous n'avez pas renseigné votre sexe, vous pouvez le faire ")	
					a(href="/user/settings")
						=s("dès à présent !")
	.cb
