.well(ng-controller="ProfileCtrl")
	.profile-edit(class=(edit ? "hidden" : null))
		.profileError
			if ! empty(friendAsked)
				.alert.alert-success
					=friendAsked
		.photo-options
			#profile-photo
				img.upload-thumb(src=profile.thumb200 data-user-thumb=profile.hashedId data-thumb-size="200" data-view alt=profile.fullName)
			if isMe && profile.photoId
				.btn(ng-click="deletePhoto($event)")
					=s("Supprimer ma photo")
	.profile-edit(class=(edit ? null : "hidden"))
		iframe(name="upload")
		.photo-options
			+form("/user/photo", "FILE")#profile-photo(target="upload")
				.progress-radial: .overlay
					img.upload-thumb(src=profile.thumb200 data-user-thumb=profile.hashedId data-thumb-size="200" alt=profile.fullName)
					.btn
						=s("Changer de photo")
					input.upload(type="file" accept="image/*" capture="camera" data-toggle="tooltip" data-placement="top" title=s("Votre photo") ng-model="user.photo" name="photo")
	if isMe
		a.profile-display.profile-edit-btn.aside(href="/user/profile/edit")
			=s("Modifier mon profil")
			| &nbsp;
			+glyph('edit')
		.profile-edit(class=(edit ? null : "hidden"))
			+form("/user/profile/edit")
				.btn-group
					input(type="hidden" id="uploadedPhotoId" name="photoId" value=profile.photoId)
					input(type="button" value=s("Annuler")).btn.glued.profile-edit-btn
					input(type="submit" value=s("Modifier")).btn.glued
				.input-group
					+formControl(name="name.first" value=profile.firstName).glued
				.input-group
					+formControl(name="name.last" value=profile.lastName)
	else if isAFriend
		.aside
			a.block(ng-click="chatWith(" + JSON.stringify(profile.publicInformations()) + ")")
				=s("Discuter")
				| &nbsp;
				+glyph('comment')
			a.block(ng-click="deleteFriend('" + profile.hashedId + "')")
				=s("Retirer des amis")
				| &nbsp;
				+glyph('minus')
	.profile-edit(class=(edit ? "hidden" : null))
		h3
			=strtoupper(profile.fullName)
			if ! isMe && user && ! askedForFriend && ! isAFriend
				a.destroyable.inline-button(
					href="/user/friend/" + profile.hashedId + "/" + encodeURIComponent(profile.fullName)
					data-target=".profileError"
					data-click="success"
					data-params[0]=s("Demande envoyée à " + profile.fullName)
					data-ask-for-friend=profile.hashedId
				)
					+glyph('plus')
		if isMe && profile.birthDate
			p
				=s("Né le {date} ({age} an)|Né le {date} ({age} ans)", { date: profile.birthDate.humanDate(), age: user.age }, user.age)
	.cb
