.well(ng-controller="ProfileCtrl")
	.profile-edit(class=(edit ? "hidden" : null))
		.profileError
			if ! empty(friendAsked)
				.alert.alert-success
					=friendAsked
		.photo-options
			#profile-photo
				img.upload-thumb(src=profile.thumb200 data-user-thumb=profile.hashedId data-thumb-size="200" data-view-src=profile.photo alt=profile.fullName)
			if isMe && profile.photoId
				.btn(ng-click="deletePhoto($event)")
					=s("Supprimer ma photo")
	.profile-edit(class=(edit ? null : "hidden"))
		iframe(name="upload")
		.photo-options
			+form("/user/photo", "FILE")#profile-photo(target="upload")
				.progress-radial: .overlay
					img.upload-thumb(src=profile.thumb200 data-user-thumb=profile.hashedId data-thumb-size="200" alt=profile.fullName)
					.btn
						=s("Changer de photo")
					input.upload(type="file" accept="image/*" capture="camera" data-toggle="tooltip" data-placement="top" title=s("Votre photo") ng-model="user.photo" name="photo")
	if isMe
		a.profile-display.profile-edit-btn.aside(href="/user/profile/edit")
			=s("Modifier mon profil")
			| &nbsp;
			+glyph('edit')
		.profile-edit(class=(edit ? null : "hidden"))
			+form("/user/profile/edit")
				input(type="hidden" id="uploadedPhotoId" name="photoId" value=profile.photoId)
				mixin profileText(name)
					label
						span
							=userTexts[name]
						+formControl(name=name value=profile[name])
				mixin profileEnum(name)
					label
						span
							=userTexts[name]
						select.form-control(name=name autocomplete="off")
							option(value="")
								=userTexts.noDisplay
							each status in profile.schema.path(name).enumValues
								if status
									option(selected=(profile[name] === status) value=status)
										=userTexts[status]
				+profileText("city")
				+profileText("birthCity")
				+profileText("job")
				+profileText("jobPlace")
				+profileEnum("maritalStatus")
				+profileEnum("loveInterest")
				label
					span
						=s("Biographie")
					textarea.form-control.counter(name="biography" maxlength="250")=profile.biography
				.btn-group
					input(type="submit" value=s("Enregistrer")).btn
				.btn-group
					input(type="button" value=s("Annuler")).btn.profile-edit-btn
					| &nbsp;
	else if isAFriend
		.aside
			a.block(ng-click="chatWith(" + JSON.stringify(profile.publicInformations()) + ")")
				=s("Discuter")
				| &nbsp;
				+glyph('comment')
			a.block(ng-click="deleteFriend('" + profile.hashedId + "')")
				=s("Retirer des amis")
				| &nbsp;
				+glyph('minus')
	.profile-edit(class=(edit ? "hidden" : null))
		h3
			=strtoupper(profile.fullName)
			if ! isMe && user && ! askedForFriend && ! isAFriend
				a.destroyable.inline-button(
					href="/user/friend/" + profile.hashedId + "/" + encodeURIComponent(profile.fullName)
					data-target=".profileError"
					data-click="success"
					data-param-0=s("Demande envoyée à " + profile.fullName)
					data-ask-for-friend=profile.hashedId
				)
					+glyph('plus')
		if profile.preRegistered()
			.alert.alert-info(role="info")
				+glyph('certificate')
				|&nbsp;
				=s("Je me suis pré-inscrit")
		if ! profile.birthDate
			if profile.birthCity
				p
					- var infos = { date: profile.birthDate.humanDate() }
					if profile.birthCity.toLowerCase().substr(0, 3) === 'le '
						- infos.city = profile.birthCity.substr(3)
						=s("Né au {city}", infos)
					else
						- infos.city = profile.birthCity
						=s("Né à {city}", infos)
		else
			p
				- var infos = { date: profile.birthDate.humanDate(), age: profile.age }
				if profile.birthCity
					if profile.birthCity.toLowerCase().substr(0, 3) === 'le '
						- infos.city = profile.birthCity.substr(3)
						=s("Né le {date} ({age} an) au {city}|Né le {date} ({age} ans) au {city}", infos, profile.age)
					else
						- infos.city = profile.birthCity
						=s("Né le {date} ({age} an) à {city}|Né le {date} ({age} ans) à {city}", infos, profile.age)
				else
					=s("Né le {date} ({age} an)|Né le {date} ({age} ans)", infos, profile.age)
		if profile.city
			p
				if profile.city.toLowerCase().substr(0, 3) === 'le '
					=s("Habite au {city}", { city: profile.city.substr(3) })
				else
					=s("Habite à {city}", { city: profile.city })
		if profile.job
			p
				if profile.jobPlace
					=s("{job} à {place}", { job: profile.job, place: profile.jobPlace })
				else
					=s("{job}", { job: profile.job })
		else if profile.jobPlace
			p
				=s("Travail à {place}", { place: profile.jobPlace })
		if profile.maritalStatus
			p
				=colon(userTexts.maritalStatus)
				=userTexts[profile.maritalStatus]
		if profile.loveInterest
			p
				=userTexts.loveInterest
				| 
				=userTexts[profile.loveInterest]
		if profile.biography
			p
				=userTexts.biography
				br
				=profile.biography
	.cb
