
mixin statusForm(tabindex)
	- tabindex = tabindex || 90
	+form()(ng-submit="send(status)")
		block
		.input-group
			+formControl()(autofocus tabindex=strval(tabindex+1) ng-model="status.content" placeholder=s("Entrez votre message ici"))
			span.input-group-btn
				input&attributes(attributes)(type="submit" tabindex=strval(tabindex+2) value=s("Envoyer")).btn

ul.nav.nav-tabs(role="tablist")
	li(ng-click="status.containsMedias = false" ng-class="{ active: ! status.containsMedias }")
		a(title=s("Quoi de neuf ?") data-toggle="tooltip" data-placement="top")
			=s("Publier un statut")
	li(ng-click="containsMedias(status)" ng-class="{ active: status.containsMedias }")
		a(title=s("Images, vidéos, liens…") data-toggle="tooltip" data-placement="top")
			=s("Publier un média")
fieldset.tab(ng-show="! status.containsMedias")
	h3=strtoupper(s("Publier un statut"))
	+statusForm()
fieldset.tab(ng-show="status.containsMedias")
	h3=strtoupper(s("Publier un média"))
	div(ng-switch="media.step")
		div(ng-switch-when="create-album")
			+form()(ng-submit="createAlbum(album)")
				+formControl()(required tabindex="101" ng-model="album.name" name="name" id="album-name" placeholder=s("Nom de l'album"))
				textarea.form-control(rows="3" tabindex="102" ng-model="album.description" placeholder=s("Description (facultatif)"))
				.col-xs-12.col-sm-6.col-sm-offset-3
					input(type="submit" tabindex="103" value=s("Créer")).btn.col-xs-12
		div(ng-switch-when="select-album")
			.album(ng-repeat="album in albums" ng-click="selectAlbum(album)")
				h4 {{ album.name }}
				p.description {{ album.description }}
			.col-xs-12.col-sm-6.col-sm-offset-3
				a.btn.bar(ng-click="media.step = 'create-album'" tabindex="104" give-focus="#album-name")
					=s("Créer un album")
		div(ng-switch-when="add")
			.col-xs-6.fit
				h4.glued.big-line {{ currentAlbum.name }}
			.col-xs-6.fit
				a.glued.btn.bar(ng-click="media.step = 'select-album'" tabindex="111")
					=s("Sélectionner un autre album")
			.col-xs-12.fit
				iframe(name="status-upload")
				+form("/user/photo", "FILE").status-images(target="status-upload")
					.upload-container
						.upload-label
							=s("Ajouter des images")
							br
							small=s("Glissez les images ici ou cliquez pour ouvrir une fenêtre d'import")
						input(type="hidden" name="album" value="{{ currentAlbum._id }}")
						input.upload(type="file" multiple="multiple" tabindex="112")
				+form()(ng-submit="addMedia(link)")
					.input-group
						+formControl(ng-model="link.href" tabindex="113" placeholder=s("Ajouter des vidéos, liens…"))
						.input-group-btn
							button(type="submit" tabindex="114").btn
								+glyph('plus')
				.medias
					div(ng-if="medias.images.length > 0")
						h3=s("Images")
						img(ng-repeat="image in medias.images" ng-src="{{ image.src }}" alt="{{ image.name }}")
					div(ng-if="medias.videos.length > 0")
						h3=s("Vidéos")
						iframe(ng-repeat="video in medias.videos" ng-src="{{ video.href }}" frameborder="0" allowfullscreen)
					div(ng-if="medias.links.length > 0")
						h3=s("Liens")
						a(ng-repeat="link in medias.links" tagret="_blank" href="{{ link.https ? 'https' : 'http' }}://{{ link.href }}") {{ link.href }}
				.cb
				+statusForm(114)(ng-disabled="medias.length == 0")
					input(type="hidden" ng-model="medias" name="medias")
		div(ng-switch-default)
			.col-xs-6.fit
				a.btn.bar(ng-click="media.step = 'create-album'" tabindex="121" give-focus="#album-name")
					=s("Créer un album")
			.col-xs-6.fit
				a.btn.bar(ng-click="media.step = 'select-album'" tabindex="122" ng-disabled="albums.length == 0")
					=s("Utiliser un album existant")
