.well
	h3=strtoupper(s("Ils utilisent Wornet"))
	ul.photos-thumbs
		each randomUser in users
			li: a(href="/user/profile/" + randomUser.hashedId + "/" + encodeURIComponent(randomUser.fullName))
				img(src=randomUser.thumb50 alt=randomUser.fullName onerror="$(this).parent().parent().remove()" data-id=randomUser.hashedId data-toggle="tooltip" data-placement="top" title=randomUser.fullName).thumb
	.cb