.well
	h3=strtoupper(s("Utilisateurs"))
	ul.photos-thumbs
		each friend in users
			li: a(href="/user/profile/" + friend.hashedId + "/" + encodeURIComponent(friend.fullName))
				img(src=friend.thumb50 alt=friend.fullName data-id=friend.hashedId data-toggle="tooltip" data-placement="top" title=friend.fullName).thumb
	.cb