extends ../layouts/wornet

include ../includes/notifications

mixin friends(classes)
	- var loggedFriends = user.friends.find({ present: true })
	ul.nav(class=classes): li.loggedFriends
		a.dropdown-toggle(href="#" data-toggle="dropdown")
			span.mobile
				+glyph('th-large')
				| &nbsp; 
			span
				=s("Amis connectés")
				| &nbsp; 
				span.pill
					=loggedFriends.length
		ul.dropdown-menu(role='menu' ng-controller="ProfileCtrl")
			if loggedFriends.length > 0
				each friend, id in loggedFriends
					li: a(ng-click="chatWith(" + JSON.stringify(friend) + ")")
						img.thumb(src=friend.thumb50 alt=friend.name.full)
						| &nbsp; 
						=friend.name.full
						| &nbsp; 
						+glyph('comment')


block params
	- var bodyClasses = null

block nav
	nav#navbar.navbar-fixed-top.nav.navbar(role='navigation'): .container-fluid
		h1.col-xs-12
			=upperTitle
		.navbar-header
			if user
				button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#mainLinks')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			a.navbar-brand(href='#')
				=upperTitle
		if user
			#mainLinks.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-left.col-sm-6
					li: a(href="/")
						+glyph("home")
						| &nbsp; 
						=s("Accueil")
					li: a(href="/")
						+glyph("envelope")
						| &nbsp; 
						=s("Message")
					li.mobile: +notifications()
					li.mobile: +friends()
				ul.nav.navbar-nav.navbar-right
					li.btn-group
						a.dropdown-toggle(href="#" data-toggle="dropdown")
							span.mobile
								+glyph('user')
								| &nbsp; 
							=user.fullName
							|&nbsp;
							span.caret
						ul.dropdown-menu(role='menu')
							li: a(href="/user/profile")
									=s("Mon profil")
							li: a(href="/agenda")
									=s("Mon agenda")
							li: a(href="/user/logout")
									=s("Déconnexion")
					li: a(href="#")
						+glyph("list")
						span.mobile
							| &nbsp; 
							=s("Options")

	if user
		nav#underbar.nav.navbar.cb
			+notifications('desktop navbar-nav navbar-left col-sm-4 col-xs-12')
			+form("{{ query.action }}")(ng-controller="SearchCtrl" role="search" ng-submit="search(query)").loading.navbar-form.navbar-left.col-sm-4.col-xs-12
				label
					+formControl()(
						ng-model="query.content"
						ng-change="change(query)"
						placeholder=s("Recherchez vos amis")
						)#search
					+glyph('search')
				.suggests
					ul: li(ng-repeat="user in query.users")
						a.col-xs-9(href="/user/profile/{{ user.hashedId }}/{{ user.name.full | urlencode }}")
							img(ng-src="{{ user.thumb50 }}" alt="{{ user.name.full }}" data-id="{{ user.hashedId }}" data-toggle="tooltip" data-placement="top" title="{{ user.name.full }}").thumb
							| {{ user.name.full }}
						a.col-xs-3.chat-with(ng-click="chatWith(user)")
							+glyph('comment')
			+friends('desktop navbar-nav navbar-right')
	else
		.main-padding

block footer
	include ../includes/chat
	include ../includes/media-viewer

block cookie-banner-under
