extends ../layouts/wornet

mixin notifications(classes)
	- var notificationsCount = intval(user.notifications.length)
	ul.notifications.nav(class=classes): li.dropdown
		a.dropdown-toggle(href="#" data-toggle="dropdown")
			span.mobile
				+glyph('globe')
				| &nbsp; 
			=s("Notifications")
			| &nbsp; 
			span.pill
				=notificationsCount
		if notificationsCount > 0
			ul.dropdown-menu(role='menu')
				each notification, id in user.notifications
					- var askingFriend = objectToUser(notification[1])
					li: a(href="/notification/" + id class=(askingFriend ? 'friend-ask' : null) data-id=(askingFriend ? notification[2] : null))
						i.date(data-date=trim(notification[0], '"'))
						| &nbsp; 
						if askingFriend
							- var dataWithUser = { username: jd('span.username ' + ucfirst(askingFriend.fullName)) }
							!=s("{username} souhaite vous ajouter à ses amis.", dataWithUser)
							br
							.btn.accept-friend
								=s("Accepter")
							&nbsp; &nbsp;
							.btn.ignore-friend
								=s("Ignorer")
						else
							=notification[1]

mixin friends(classes)
	ul.nav(class=classes)
		li: a
			span.mobile
				+glyph('th-large')
				| &nbsp; 
			=s("Aucun ami connecté|1 ami connecté|{count} amis connectés", {}, intval(0))


block params
	- var bodyClasses = null

block nav
	nav#navbar.navbar-fixed-top.nav.navbar(role='navigation'): .container-fluid
		h1.col-xs-12
			=upperTitle
		.navbar-header
			if user
				button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#mainLinks')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			a.navbar-brand(href='#')
				=upperTitle
		if user
			#mainLinks.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-left.col-sm-6
					li: a(href="/")
						+glyph("home")
						| &nbsp; 
						=s("Accueil")
					li: a(href="/")
						+glyph("envelope")
						| &nbsp; 
						=s("Message")
					li.mobile: +notifications()
					li.mobile: +friends()
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown")
							span.mobile
								+glyph('user')
								| &nbsp; 
							=user.fullName
							&nbsp;
							span.caret
						ul.dropdown-menu(role='menu')
							li: a(href="/user/profile")
									=s("Mon profil")
							li: a(href="/user/logout")
									=s("Déconnexion")
					li: a(href="#")
						+glyph("list")
						span.mobile
							| &nbsp; 
							=s("Options")

	if user
		nav#underbar.nav.navbar.cb
			+notifications('desktop navbar-nav navbar-left col-sm-4 col-xs-12')
			+form("#")(ng-controller="SigninFirstStepCtrl" role="search").navbar-form.navbar-left.col-sm-4.col-xs-12
				label
					+formControl()(
						placeholder=s("Recherchez vos amis")
						)#search
					+glyph('search')
			+friends('desktop navbar-nav navbar-right')
	else
		.main-padding

block footer
	#chat(ng-controller="ChatCtrl" class=(config.wornet.chat.multiline ? 'multiline' : ''))
		.chat(ng-repeat="chat in chats" ng-show="chat.open")
			h4
				a.close(ng-click="close(chat)")
					+glyph('remove-sign')
				| {{ chat.user.fullName }}
			.messages
				.message(ng-repeat="message in chat.messages")
					span.ok(ng-show="message.ok")
						+glyph('ok')
					.date(data-date="{{ message.date.toString() }}")
					img(src="{{ chat.user.thumb50 }}" ng-show="chat.user.thumb50 && message.from")
					.content(class="message.from ? 'received' : 'sended'")
						| {{ message.content }}
			+form()(ng-submit="send(message, chat.user.id)")
				if config.wornet.chat.multiline
					textarea.form-control(ng-model="message" placeholder=s("Entrez votre message ici") focus="true")
					button(type="submit")
						+glyph('arrow-right')
				else
					+formControl()(ng-model="message.content" placeholder=s("Entrez votre message ici") focus="true")
					button(type="submit")

block cookie-banner-under
//- Batarang
