extends ../layouts/wornet

include ../includes/notifications

mixin friends(classes, mobile)
	if user
		- var loggedFriends = user.friends.findMany({ present: true })
		- classes += " " + (mobile?"loggedFriends-mobile":"loggedFriends nav right")
		ul(class=classes): li
			a.dropdown-toggle( data-toggle="dropdown")
				span
					if mobile
						+glyph('group')
						span.pill.mobile-pill
							=loggedFriends.length
					else
						=s("Amis connectés")
						| &nbsp; 
						span.pill
							=loggedFriends.length
			ul.dropdown-menu.loggedFriends-list.right(role='menu' ng-controller="ProfileCtrl" ng-init="selectedSound = " + JSON.stringify(user.chatSound))
				if loggedFriends.length > 0
					each friend, id in loggedFriends
						- friend = objectToUser(friend).publicInformations()
						li: a(ng-click="chatWith(" + JSON.stringify(friend) + ")")
							img.thumb(src=friend.thumb50 alt=friend.name.full)
							| &nbsp; 
							span.user-name
								=friend.name.full
							| &nbsp; 
							+half('comments')
				else
					li: a: span.no-logged-friend
						=s("Aucun ami connecté pour le moment.")
				if !mobile
					li.divider(ng-if="supportAudio" role="separator")
					li.select-chat-sound(ng-if="supportAudio")
						a(ng-click="selectChatSound($event, 0)")
							span(ng-if="selectedSound == 0")
								+half('ok-circle')
								| &nbsp;
							+half('volume-off')
							| &nbsp;
						a(ng-click="selectChatSound($event, 1)")
							span(ng-if="selectedSound == 1")
								+half('ok-circle')
								| &nbsp;
							+half('play')
							=s("1")
						a(ng-click="selectChatSound($event, 2)")
							span(ng-if="selectedSound == 2")
								+half('ok-circle')
								| &nbsp;
							+half('play')
							=s("2")
					
					

block append link
	link(ng-if="smilies" rel="stylesheet" ng-href=style("smilies"))

block params
	- var bodyClasses = null

block nav
	include ../includes/shutter
	.wornet-navbar.wornet-navbar-fixed-top.standard-device.m-btns.loading(role='navigation' class=(user && user.openedShutter ? 'opened-shutter' : null)): .container-fluid
		.wornet-navbar-header
			h1.col-xs-12
				!=upperTitle
		if user
			+data("me", user.hashedId)
			+data("chatSound", user.chatSound)
			+data('photoUploadAlbumId', user.photoUploadAlbumId)
			.mainLinks.col-sm-6
				ul
					li.left: a(href="/")
						+glyph("newspaper")
						| &nbsp; 
						=s("Accueil")
						
					li.left: a.open-chat-list(data-toggle="modal" data-target="#selector-chat-list") 
						+glyph("conversation")
						| &nbsp; 
						=s("Messagerie")
					if config.wornet.move.enabled
						li.left: a(href="/move/search")
							+glyph("person-running")
							| &nbsp; 
							=s("Bouger")
			.mainLinks.col-sm-6
				.col-sm-6
					|&nbsp;
				ul.col-sm-6
					li.right.open-shutter: a
						+half("list")
					li.right.btn-group
						a.dropdown-toggle( data-toggle="dropdown")
							=user.name.first
							|&nbsp;
							span.caret
						ul.dropdown-menu.user.right(role='menu')
							li: a(href="/" + user.uniqueURLID)
									=s("Mon profil")
							if config.wornet.admin.admin.indexOf(user.email) >= 0
								li: a(href="/admin")
									=s("Administration")
							if config.wornet.agenda && config.wornet.agenda.enabled
								li: a(href="/agenda")
										=s("Mon agenda")
							li: a(href="/user/logout")
									=s("Déconnexion")
	.wornet-navbar.wornet-navbar-fixed-top.mobile-device.loading(role='navigation' class=(user && user.openedShutter ? 'opened-shutter' : null)): .container-fluid
		.nav-icon.col-xs-2.col-xs-offset-1
			a(href="/")
				+glyph("newspaper")
		.nav-icon.col-xs-2
			a.open-chat-list(data-toggle="modal" data-target="#selector-chat-list") 
				+glyph("conversation")
		.nav-icon.col-xs-2
			+notifications('', true)
		.nav-icon.col-xs-2
			+friends('', true)
		.nav-icon.col-xs-2
			if user
				a.dropdown-toggle( data-toggle="dropdown")
					img(ng-src=user.thumb50 alt=user.name.full data-id=user.hashedId data-toggle="tooltip" data-placement="top" title=user.name.full).navthumb
				ul.dropdown-menu.user.right(role='menu')
					li: a(href="/" + user.uniqueURLID)
							=s("Mon profil")
					if config.wornet.agenda && config.wornet.agenda.enabled
						li: a(href="/agenda")
								=s("Mon agenda")
					li: a(href="/user/logout")
							=s("Déconnexion")
	if user
		nav#underbar.cb
			+notifications('desktop navbar-nav navbar-left col-sm-4 col-xs-12')
			+form("{{ query.action }}")(ng-controller="SearchCtrl" role="search" ng-submit="search(query)").loading.navbar-form.navbar-left.col-sm-4.col-xs-12
				label.search
					+formControl()(
						ng-model="query.content"
						ng-change="change(query)"
						placeholder=s("Recherchez vos amis")
						)#search
					+half('search')
				.suggests
					ul(dpr): li(ng-repeat="user in query.users")
						a(ng-class="{ 'col-xs-9': user.isAFriend || canBeAddedAsAFriend(user) || user.askedForFriend || canBeFollowed(user) || canBeUnfollowed(user), 'col-xs-12': ! user.isAFriend && ! canBeAddedAsAFriend(user) }" href="/{{ user.uniqueURLID }}")
							img(ng-src="{{ user.thumb50 }}" alt="{{ user.name.full }}" data-id="{{ user.hashedId }}" data-toggle="tooltip" data-placement="top" title="{{ user.name.full }}").thumb
							.user-name
								| {{ user.name.full }}
								| &nbsp;
								+glyph('circle-ok')(ng-if="user.certifiedAccount").certification-glyph
							.user-points
								| {{ user.points }}
								=' '+s("points")
						a.col-xs-3.suggest-action(ng-click="chatWith(user)" ng-if="user.isAFriend")
							+half('comments')
						a.col-xs-3.suggest-action(
							ng-if="canBeAddedAsAFriend(user)"
							ng-click="askForFriend(user)"
							href="/user/friend/{{ user.hashedId }}/{{ user.name.full | urlencode }}"
							data-target=".errors"
							data-click="success"
							data-param0=s("Demande envoyée à {{ user.name.full }}")
							data-ask-for-friend="{{ user.hashedId }}"
						)
							+half('plus')
						a.col-xs-3.suggest-action(
							ng-if="user.askedForFriend"
							data-target=".errors"
							data-click="success"
							data-param0=s("Demande annulée")
							data-remove-friend-ask="{{ user.hashedId }}"
						)
							+half('remove')
						a.col-xs-3.search-follow.suggest-action(
							ng-show="canBeFollowed(user)"
							data-follow="{{ user.hashedId }}"
						)
							+glyph("star-empty")
						a.col-xs-3.search-unfollow.suggest-action(
							ng-show="canBeUnfollowed(user)"
							data-unfollow="{{ user.hashedId }}"
						)
							+glyph("star")
			+friends('desktop navbar-nav navbar-right')
	else
		.main-padding

block footer
	include ../includes/chat
	include ../includes/media-viewer
	include ../includes/chat-list
	include ../includes/liker-list

block cookie-banner-under
