include ../includes/mixins
doctype html
html.no-js(lang=lang())
	head
		meta(charset="UTF-8")
		title
			block title
				=s("Wornet")
		base(href="/")
		block meta
			meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
			+meta("viewport", "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi")
			+meta("apple-mobile-web-app-capable", "yes")
			+meta("format-detection", "telephone=no")
		block css
			each style in options.css().main
				if typeof(style) === 'object'
					if style[0] === 'non-ie'
						+non-ie()
							link(media="all", rel="stylesheet", href=style[1])
					else
						+ie(style[0])
							link(media="all", rel="stylesheet", href=style[1])
				else
					link(media="all", rel="stylesheet", href=style)
		block link
			link(rel="shortcut icon", href="/favicon.ico")
		block id
			+ie('if lte IE 8')
				script
					:coffee
						document.createElement 'tabs'
						document.createElement 'pane'
						document.createElement 'ng-pluralize'
		block head

	body(ng-app="Wornet")

		nav.navbar-fixed-top.
			Abc pour test

		#wrap
			+ie('if lte IE 7')
				.alert.alert-danger
					- var upgradeUrl = "http://browsehappy.com/"
					- var ieFrameUrl = "http://www.google.com/chromeframe/?redirect=true"
					- var upgradeLink = jd('a(href="' + upgradeUrl + '")\n\t="' + s("Upgrade to a different browser") + '"')
					- var ieFrameLink = jd('a(href="' + ieFrameUrl + '")\n\t="' + s("install Google Chrome Frame") + '"')
					!=s("Your browser is too old! {upgradeYourBrowser} or {installIeFrame} to experience this site.", { upgradeYourBrowser: upgradeLink, installIeFrame: ieFrameLink })

			div(role="main", ng-controller="AppCtrl")
				block body

		footer
			=s("Wornet")
			- for(var name in datas)
				+data(name, datas[name])

		block js
			each script in options.js().main
				if typeof(script) === 'object'
					if script[0] === 'non-ie'
						+non-ie()
							script(type="text/javascript", src=script[1])
					else
						+ie(script[0])
							script(type="text/javascript", src=script[1])
				else
					script(type="text/javascript", src=script)
