- var mainTitle = s("Wornet")
- var upperTitle = strtoupper(mainTitle)
block params
	- var bodyClasses = 'openingTemplate'
include ../includes/mixins
doctype html
html.no-js(lang=lang() xmlns:ng="http://angularjs.org")
	head
		meta(charset="UTF-8")
		title
			block title
				=mainTitle
		base(href="/")
		block meta
			meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
			+meta("viewport", "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi")
			+meta("apple-mobile-web-app-capable", "yes")
			+meta("format-detection", "telephone=no")
			+meta("description", "Wornet est un réseau social totalement repensé pour vous – et vos amis. Il intègre une plateforme de partage de contenu (Daily Capture)…")
			+meta("keywords", "réseau social, réseau, social, wornet, français, étudiants, Limoges, France, plateforme, vidéos, médias, amis, contacts, espace, personnel, professionnel, portefeuille, clients, e-réputation, entreprises, sociétés, célébrités")
			+meta("_csrf", _csrf)
		block css
			each style in options.css().main
				if typeof(style) === 'object'
					if style[0] === 'non-ie'
						+non-ie()
							link(media="all" rel="stylesheet" href=style[1])
					else
						+ie(style[0])
							link(media="all" rel="stylesheet" href=style[1])
				else
					link(media="all" rel="stylesheet" href=style)
		block link
			link(rel="shortcut icon" href="/favicon.ico")
		block id
			+ie('if lte IE 8')
				script
					:coffee
						((f) ->
							f 'tabs'
							f 'pane'
							f 'ng-pluralize'
						)(document.createElement)
		block head

	body(ng-app="Wornet" class=bodyClasses)

		#wrap
			block nav
			+ie('if lte IE 7')
				.alert.alert-danger
					- var upgradeUrl = "http://rowsehappy.com/"
					- var ieFrameUrl = "http://wbww.google.com/chromeframe/?redirect=true"
					- var upgradeLink = jd('a(href="' + upgradeUrl + '")\n\t="' + s("Téléchargez un autre navigateur") + '"')
					- var ieFrameLink = jd('a(href="' + ieFrameUrl + '")\n\t="' + s("installez Google Chrome Frame") + '"')
					!=s("Votre navigateur est obsolète. {upgradeYourBrowser} ou {installIeFrame} pour profiter de Wornet.", { upgradeYourBrowser: upgradeLink, installIeFrame: ieFrameLink })
			noscript
				.alert.alert-danger
					=s("Pour une meilleure utilisation de Wornet, activez JavaScript dans votre navigateur")

			div(role="main")
				block body

		block footer
			footer
				.row.col-sm-8.col-sm-offset-2
					a.link.col-sm-3.col-xs-6(href="/newsroom")
						=s("Newsroom")
					a.link.col-sm-3.col-xs-6(href="/jobs")
						=s("Offres d'emplois")
					a.link.col-sm-3.col-xs-6(href="/legals")
						=s("Mentions légales")
					span.copytag.col-sm-3.col-xs-6(data="right")
						!=s("{c} 2014 ", { c: "&#169;" })
						=mainTitle
		if datas
			each value, name in datas
				+data(name, value)
		- var trackers = options.trackers()
		if trackers.piwik
			noscript: p: img(src="//" + (trackers.piwik.host || 'piwik') + "/piwik.php?idsite=" + (trackers.id || 1) style="border:0;" alt="")
			+data("piwik", trackers.piwik)
		if trackers.googleAnalytics
			+data("googleAnalytics", trackers.googleAnalytics)

		//- .loader sera utilisé si je parviens à faire un système de navigation
		//- AJAX compatible Angular
		.loader.preload

		block js
			each script in options.js().main
				if typeof(script) === 'object'
					if script[0] === 'non-ie'
						+non-ie()
							script(type="text/javascript" src=script[1])
					else
						+ie(script[0])
							script(type="text/javascript" src=script[1])
				else
					script(type="text/javascript" src=script)
