extends ../layouts/user

block body
	.col-xs-12: .well
		.aside
			a(href="#" data-delete data-clear-storage="albums" data-message=s("Êtes-vous sûr de vouloir supprimer toutes les photos de cet album ?"))
				=s("Supprimer cet album")
		h3=album.name
		p=album.description
		.medias
			each image in photos
				a(data-toggle="modal" data-target="#media-viewer" data-load-media=['image', image])
					img(src=image.thumb50 alt=image.name)
			.cb
