extends signin

block home-link-text
    =s("Connexion")

block body
    .container: section
        #resetPasswordErrors
            +alert(resetPasswordAlerts)
        if empty(resetPasswordAlerts.success)
            .well
                h4
                    =s("Réinitialisation du mot de passe")
                +form("", "POST")
                    p
                        =s("Si vous avez oublié votre mot de passe, entrez ci-dessous l'adresse e-mail avec laquelle vous vous êtes inscrit. Vous recevrez un mail de Wornet contenant un lien vous permettant de choisir un nouveau mot de passe.")
                    .input-group
                        +formControl()(
                            autofocus
                            required
                            tabindex="10"
                            pattern=pattern('email')
                            title=s("Votre e-mail")
                            name="email"
                            placeholder=s("Votre e-mail")
                        ).flash
                        span.input-group-btn
                            input(type="submit" tabindex="11" value=s("Envoyer")).btn
