extends ../layouts/wornet

block body
	.container
		header.content.col-lg-12
			#logo-content.col-lg-5.col-md-5.col-sm-4.col-xs-12
				img(type="image/png" src="/img/logo.png")#logo.img-responsive
			#connexion-content.col-lg-7.col-md-7.col-sm-8.none-mobile
				form(method="post" action="login-check.jade")#login
					input(type="text" spellcheck="false" autocomplete="off" name="login-email" placeholder=s("Votre e-mail")).textbox
					input(type="password" spellcheck="false" autocomplete="off" name="login-password" placeholder=s("Mot de passe")).textbox
					input(type="submit" value=s("Se connecter")).button
					span.none-mobile
						br
					input(type="checkbox" value=s("Se souvenir de moi") name="save")
					span.save
						=s("Se souvenir de moi")
					a#forget-it
						=s("Oublié ?")
		#container.content.col-lg-12
			#container-left.col-lg-3.col-md-2.col-sm-1.none-mobile
			#container-center.col-lg-6.col-md-7.col-sm-7.col-xs-12.col-middle
					span#slogan
						=s("Ouvrez un compte, c'est")
						br
						=s("gratuit.")
					form(method="post" action="register.jade")#register
						//- FORM METHOD POST,GO TO register.jade, ID OF TEXTBOX: register-email, register-password, register-password-check
						br
						input(type="text" spellcheck="false" autocomplete="off" title=s("Votre e-mail") name="register-email" placeholder=s("Votre e-mail")).textbox
						br
						input(type="password" spellcheck="false" autocomplete="off" title=s("Votre mot de passe") name="register-password" placeholder=s("Votre mot de passe")).textbox
						br
						input(type="password" spellcheck="false" autocomplete="off" title=s("Vérifier votre mot de passe") name="register-password-check" placeholder=s("Vérifier votre mot de passe")).textbox
						br
						#check-all
							input(type="submit" value=s("Je m'inscris"))#sign-in.button
			#container-right.col-lg-3.none-mobile
				blockquote.cite
					=s("\" Wornet est un réseau social français totalement pensé pour vous – et vos amis. \"")
				blockquote.cite
					=s("\" Contrôlez la portée de vos informations. \"")
				blockquote.cite
					=s("\"  Bénéficiez d'outils innovants et intuitifs. \"")