extends ../layouts/wornet

block nav
			header
				nav
					.container
						#logo-content.col-md-5.col-sm-4.col-xs-12
							img#logo.img-responsive(src=png("logohd") alt=s("Wornet"))
						.col-md-6.col-md-offset-1.col-sm-8.col-xs-12
							#loginErrors
								if loginErrors
									each error in loginErrors
										.alert.alert-danger
											=error
							+form#login("/user/login")(ng-submit="submit(user)" ng-controller="LoginCtrl")
								.narrow.col-sm-4.col-xs-12
									+formControl()(required autofocus tabindex="1" pattern=pattern('email') ng-model="user.email" name="email" placeholder=s("Votre e-mail"))
									label.mobile-field
										input(type="checkbox" ng-model="user.remember" name="remember" tabindex="3" checked)
										=s("Se souvenir de moi")
								.narrow.col-sm-4.col-xs-12
									+formControl("password")(required tabindex="2" ng-model="user.password" name="password" placeholder=s("Mot de passe"))
									a#forget-it.mobile-field(href="/user/forgotten-password" tabindex="4")
										=s("Oublié ?")
								.narrow.col-sm-4.col-xs-12
									input.btn.btn-plain(type="submit" value=s("Se connecter") tabindex="5")

block body
	.container
		section
			.col-sm-4.col-sm-offset-4.col-xs-12
				.col-md-8.col-md-offset-2.col-sm-12
					#slogan
						=s("Ouvrez un compte, c'est gratuit.")
					#signinErrors
						if signinErrors
							each error in signinErrors
								.alert.alert-danger
									=error
					+form("/user/signin", "PUT")(ng-submit="submit(user)" ng-controller="SigninCtrl")
						+formControl()(title=s("Votre e-mail") ng-model="user.email" name="email" placeholder=s("Votre e-mail") tooltip!=[s("Adresse Electronique"), s("Votre adresse électronique est affiliée à votre profil, elle nous permet de vérifier votre identité et vous permet d’accéder à votre compte wornet.")])
						.check-pass
							+formControl("password")(title=s("Votre mot de passe") ng-model="user.password" name="password" placeholder=s("Votre mot de passe") tooltip!=[s("Mot de passe"), s("Un mot de passe fort vous permetra de sécuriser votre compte wornet contre toute tentative de piratage. Pour un mot de passe fort, ajoutez des majuscules et des chiffres.") + jd('.pass-security\n\tdiv')])
						+formControl("password")(title=s("Vérifier votre mot de passe") ng-model="user.passwordCheck" name="passwordCheck" placeholder=s("Vérifier votre mot de passe") tooltip!=[s("Confirmer le mot de passe"), s("La confirmation du mot de passe permet d’éviter tout erreur de frappe.")])
						input.btn.btn-plain(type="submit" value=s("Je m'inscris"))
			#quotes.col-sm-3.col-xs-12
				blockquote
					=s("\" Wornet est un réseau social français totalement pensé pour vous – et vos amis. \"")
				blockquote
					=s("\" Contrôlez la portée de vos informations. \"")
				blockquote
					=s("\"  Bénéficiez d'outils innovants et intuitifs. \"")