extends ../layouts/wornet

block body
	- var commonOptions = { spellcheck: "false", autocomplete: "off" }
	.container
		header
			.col-md-5.col-sm-4.col-xs-12
				img#logo.img-responsive(src="/img/logo.png")
			.col-md-6.col-md-offset-1.col-sm-8.col-xs-12
				#loginErrors
					if loginErrors
						each error in loginErrors
							.alert.alert-danger
								=error
				+form#login()(ng-submit="submit()" ng-controller="LoginCtrl")
					.narrow.col-sm-4.col-xs-12
						+formControl()(required pattern=pattern('email') ng-model="user.email" placeholder=s("Votre e-mail"))
						label.mobile-field
							input(type="checkbox" name="remember")
							=s("Se souvenir de moi")
					.narrow.col-sm-4.col-xs-12
						+formControl("password")(required ng-model="user.password" placeholder=s("Mot de passe"))
						a#forget-it.mobile-field(href="/user/forgotten-password")
							=s("Oublié ?")
					.narrow.col-sm-4.col-xs-12
						input.btn.btn-plain(type="submit" value=s("Se connecter"))
		section
			.col-sm-4.col-sm-offset-4.col-xs-12
				.col-md-8.col-md-offset-2.col-sm-12
					#slogan
						=s("Ouvrez un compte, c'est gratuit.")
					#signinErrors
						if signinErrors
							each error in signinErrors
								.alert.alert-danger
									=error
					+form()(ng-submit="submit()" ng-controller="SigninCtrl")
						+formControl()(title=s("Votre e-mail") ng-model="user.email" placeholder=s("Votre e-mail"))
						+formControl("password")(title=s("Votre mot de passe") ng-model="user.password" placeholder=s("Votre mot de passe"))
						+formControl("password")(title=s("Vérifier votre mot de passe") ng-model="user.passwordCheck" placeholder=s("Vérifier votre mot de passe"))
						input.btn.btn-plain(type="submit" value=s("Je m'inscris"))
			#quotes.col-sm-3.col-xs-12
				blockquote
					=s("\" Wornet est un réseau social français totalement pensé pour vous – et vos amis. \"")
				blockquote
					=s("\" Contrôlez la portée de vos informations. \"")
				blockquote
					=s("\"  Bénéficiez d'outils innovants et intuitifs. \"")