extends ../layouts/wornet
		

block body
	.container: section
		.col-sm-4.col-sm-offset-4.col-xs-12.fit
			.col-md-10.col-md-offset-2.col-sm-12.sign-in-overlay
				#logo-content.col-xs-12
					img#logo.img-responsive(src=png("wornet-thumb50") alt=s("Wornet"))
				h4.invite-message
					=s("Ouvrez un compte, c'est gratuit.")
				#signinErrors
					+alert(signinAlerts)
				+form("/user/login")(ng-submit="submit(user)" ng-controller="LoginAndSigninCtrl")#login-signin
					+formControl("email")(
						title=s("Votre e-mail")
						tabindex=10
						ng-model="user.email"
						name="email"
						placeholder=s("Votre e-mail")
						tooltip!=[
							s("Adresse électronique"),
							s("Votre adresse électronique est affiliée à votre profil, elle nous permet de vérifier votre identité et vous permet d’accéder à votre compte wornet.")
						]).flash
					.check-pass
						+formControl("password")(
							title=s("Votre mot de passe")
							tabindex=20
							ng-model="user.password"
							name="password"
							placeholder=s("Votre mot de passe")
							tooltip!=[
								s("Mot de passe"),
								s("Un mot de passe fort vous permetra de sécuriser votre compte wornet contre toute tentative de piratage. Pour un mot de passe fort, ajoutez des majuscules, des symboles et des chiffres.") +
								jd('.pass-security\n\t.bar'
									+ '\n\t\t.inner.verylow ' + s("Faible")
									+ '\n\t\t.inner.low ' + s("Assez faible")
									+ '\n\t\t.inner.medium ' + s("Moyen")
									+ '\n\t\t.inner.high ' + s("Fort")
									+ '\n\t\t.inner.veryhigh ' + s("Très fort")
								)
							]).flash
					label.std-line
						input(type="checkbox" ng-model="user.remember" name="remember" id="login-remember" tabindex="30" checked)
						=s("Se souvenir de moi")
					.narrow.col-lg-6.col-sm-12
						input.btn.btn-plain.login(type="submit" value=s("Se connecter") ng-click="submitTo('login-signin', '/user/login', 'POST')" tabindex="40")
					.narrow.col-lg-6.col-sm-12
						input.btn.btn-plain.btn-primary.sign-in(type="button" ng-click="submitTo('login-signin', '/user/signin', 'PUT')" value=s("Je m'inscris") tabindex="50")
					.narrow.col-sm-12
						a#forget-it.std-line(href="/user/forgotten-password" tabindex="60")
							=s("Mot de passe oublié ?")
		
