extends ../layouts/user

block body
	.errors
		if profileErrors
			each error in list(profileErrors)
				.alert.alert-danger
					=error


	.col-sm-4.col-xs-12.pad-right
		if isMe
			//- Friends
			.well
				h3=strtoupper(s("Amis")) + " " + s("({number} ami)|({number} amis)", { number: numberOfFriends }, numberOfFriends)
				ul#friends.photos-thumbs
					each friend in friends
						li: a(href="/user/profile/" + friend.id + "/" + encodeURIComponent(friend.fullName))
							img(src=friend.thumb50 alt=friend.fullName data-id=friend.id data-toggle="tooltip" data-placement="top" title=friend.fullName).thumb
				.cb
			//- Asks for friend
			each friend, id in friendAsks
				.alert.alert-success.friend-ask(data-id=id)
					a(href="/user/profile/" + friend.id + "/" + encodeURIComponent(friend.fullName))
						img(src=friend.thumb50 alt=friend.fullName data-id=friend.id).thumb
					- var dataWithUser = { username: jd('span.username ' + ucfirst(friend.fullName)) }
					.shift
						i.date(data-date=trim(Date.fromId(id), '"'))
						br
						!=s("{username} souhaite vous ajouter à ses amis.", dataWithUser)
						br
						.btn.accept-friend
							=s("Accepter")
						&nbsp; &nbsp;
						.btn.ignore-friend
							=s("Ignorer")
					.shift.if-accepted
						!=s("{username} fait maitnenant partie de vos amis.", dataWithUser)
					.cb
		.well
			h3=strtoupper(s("Utilisateurs"))
			ul.photos-thumbs
				each friend in users
					li: a(href="/user/profile/" + friend.id + "/" + encodeURIComponent(friend.fullName))
						img(src=friend.thumb50 alt=friend.fullName data-id=friend.id data-toggle="tooltip" data-placement="top" title=friend.fullName).thumb
			.cb
		//- Photos/Videos
		.well
			h3=strtoupper(s("Photos/Vidéos"))
	.col-sm-8.col-xs-12.pad-left
		//- Profile
		.well(ng-controller="ProfileCtrl")
			if isMe
				iframe(name="upload")
				+form("/user/photo", "FILE")#profile-photo(target="upload")
					.progress-radial: .overlay
						img.upload-thumb(src=profile.thumb200 alt=profile.fullName)
						input.upload(type="file" data-toggle="tooltip" data-placement="top" title=s("Votre photo") ng-model="user.photo" name="photo")
				a.profile-edit-btn.aside(href="/user/profile/edit")
					=s("Modifier mon profil")
					| &nbsp;
					+glyph('edit')
				.profile-edit(class=(edit ? null : "hidden"))
					+form("/user/profile/edit", "POST")
						span.input-group-btn
							+formControl(value=profile.firstName)
							+formControl(value=profile.lastName)
							input(type="submit" value=s("Modifier")).btn
			else
				.profileError
					if ! empty(friendAsked)
						.alert.alert-success
							=friendAsked
				#profile-photo
					img.upload-thumb(src=profile.thumb200 alt=profile.fullName)
				a.aside(ng-click="chatWith(" + JSON.stringify(profile.publicInformations()) + ")")
					=s("Discuter")
					| &nbsp;
					+glyph('comment')
			.profile-display(class=(edit ? "hidden" : null))
				h3
					=strtoupper(profile.fullName)
					if ! isMe && user && ! askedForFriend && ! isAFriend
						a.destroyable.inline-button(
							href="/user/friend/" + profile.id + "/" + encodeURIComponent(profile.fullName)
							data-target=".profileError"
							data-click="success"
							data-params[0]=s("Demande envoyée à " + profile.fullName)
							data-ask-for-friend=profile.id
						)
							+glyph('plus')
				if isMe && profile.birthDate
					p
						=s("Né le {date} ({age} an)|Né le {date} ({age} ans)", { date: profile.birthDate.humanDate(), age: user.age }, user.age)
			.cb
		//- Publications
		.well
			fieldset
				h3=strtoupper(s("Publier un statut"))
				.input-group
					+formControl()
					span.input-group-btn
						input(type="submit" value=s("Envoyer")).btn
