extends ../layouts/user

block body
	.errors
		if profileErrors
			each error in list(profileErrors)
				.alert.alert-danger
					=error


	.col-sm-4.col-xs-12.pad-right
		if isMe
			//- Friends
			.well
				h3=strtoupper(s("Amis")) + " " + s("({number} ami)|({number} amis)", { number: numberOfFriends }, numberOfFriends)
				ul#friends.photos-thumbs
					each friend in friends
						li: a(href="/user/profile/" + friend.hasedId + "/" + encodeURIComponent(friend.fullName))
							img(src=friend.thumb50 alt=friend.fullName data-id=friend.hashedId data-toggle="tooltip" data-placement="top" title=friend.fullName).thumb
				.cb
			//- Asks for friend
			each friend, id in friendAsks
				.alert.alert-success.friend-ask(data-id=id)
					a(href="/user/profile/" + friend.hashedId + "/" + encodeURIComponent(friend.fullName))
						img(src=friend.thumb50 alt=friend.fullName data-id=friend.hashedId).thumb
					- var dataWithUser = { username: jd('span.username ' + ucfirst(friend.fullName)) }
					.shift
						i.date(data-date=trim(Date.fromId(id), '"'))
						br
						!=s("{username} souhaite vous ajouter à ses amis.", dataWithUser)
						br
						.btn.accept-friend
							=s("Accepter")
						&nbsp; &nbsp;
						.btn.ignore-friend
							=s("Ignorer")
					.shift.if-accepted
						!=s("{username} fait maitnenant partie de vos amis.", dataWithUser)
					.cb
		.well
			h3=strtoupper(s("Utilisateurs"))
			ul.photos-thumbs
				each friend in users
					li: a(href="/user/profile/" + friend.hashedId + "/" + encodeURIComponent(friend.fullName))
						img(src=friend.thumb50 alt=friend.fullName data-id=friend.hashedId data-toggle="tooltip" data-placement="top" title=friend.fullName).thumb
			.cb
		//- Photos/Videos
		.well
			h3=strtoupper(s("Photos/Vidéos"))
	.col-sm-8.col-xs-12.pad-left
		//- Profile
		.well(ng-controller="ProfileCtrl")
			if isMe
				iframe(name="upload")
				+form("/user/photo", "FILE")#profile-photo(target="upload")
					.progress-radial: .overlay
						img.upload-thumb(src=profile.thumb200 alt=profile.fullName)
						input.upload(type="file" data-toggle="tooltip" data-placement="top" title=s("Votre photo") ng-model="user.photo" name="photo")
				a.profile-edit-btn.aside(href="/user/profile/edit")
					=s("Modifier mon profil")
					| &nbsp;
					+glyph('edit')
				.profile-edit(class=(edit ? null : "hidden"))
					+form("/user/profile/edit", "POST")
						span.input-group-btn
							+formControl(value=profile.firstName)
							+formControl(value=profile.lastName)
							input(type="submit" value=s("Modifier")).btn
			else
				.profileError
					if ! empty(friendAsked)
						.alert.alert-success
							=friendAsked
				#profile-photo
					img.upload-thumb(src=profile.thumb200 alt=profile.fullName)
				a.aside(ng-click="chatWith(" + JSON.stringify(profile.publicInformations()) + ")")
					=s("Discuter")
					| &nbsp;
					+glyph('comment')
			.profile-display(class=(edit ? "hidden" : null))
				h3
					=strtoupper(profile.fullName)
					if ! isMe && user && ! askedForFriend && ! isAFriend
						a.destroyable.inline-button(
							href="/user/friend/" + profile.hashedId + "/" + encodeURIComponent(profile.fullName)
							data-target=".profileError"
							data-click="success"
							data-params[0]=s("Demande envoyée à " + profile.fullName)
							data-ask-for-friend=profile.hashedId
						)
							+glyph('plus')
				if isMe && profile.birthDate
					p
						=s("Né le {date} ({age} an)|Né le {date} ({age} ans)", { date: profile.birthDate.humanDate(), age: user.age }, user.age)
			.cb
		//- Publications
		.well.loading(ng-controller="StatusCtrl")
			+form()(ng-submit="send(status)")
				ul.nav.nav-tabs(role="tablist")
					li(ng-click="status.containsPicture = false" ng-class="{ active: ! status.containsPicture }"): a
						=s("Publier un statut")
					li(ng-click="status.containsPicture = true; media.step = null;" ng-class="{ active: status.containsPicture }"): a(title=s("Images, vidéos, liens…") data-toggle="tooltip" data-placement="top")
						=s("Publier un média")
				fieldset.tab(ng-show="! status.containsPicture")
					h3=strtoupper(s("Publier un statut"))
					.input-group
						+formControl()(autofocus ng-model="status.content")
						span.input-group-btn
							input(type="submit" value=s("Envoyer")).btn
				fieldset.tab(ng-show="status.containsPicture")
					h3=strtoupper(s("Publier un média"))
					.animate-switch-container(ng-switch="media.step")
						.animate-switch(ng-switch-when="create-album")
							+formControl()(required tabindex="2" ng-model="album.name" name="name" id="album-name" placeholder=s("Nom de l'album"))
							textarea.form-control(rows="3" ng-model="album.description" placeholder=s("Entrez votre message ici"))
							.col-xs-12.col-sm-6.col-sm-offset-3
								input(type="submit" value=s("Créer")).btn.col-xs-12
						.animate-switch(ng-switch-when="select-album")
							div(ng-repeat="album in albums")
								=album
						.animate-switch(ng-switch-when="add")
							input(type="file" multiple="multiple" ng-model="album.images" name="images" value=s("Ajouter média(s)")).btn
						.animate-switch(ng-switch-default)
							.col-xs-6.fit
								a.btn.bar(ng-click="media.step = 'create-album';" give-focus="#album-name")
									=s("Créer un album")
							.col-xs-6.fit(tooltip="{{ albums && albums.length ? _('" + s("{count} album|{count} albums") + "', albums.length) : '" + s("Vous n'avez encore aucun album") + "' }}")
								a.btn.bar(ng-click="media.step = 'select-album'" disabled="{{ ! (albums && albums.length) }}")
									=s("Utiliser un album existant")
			include ../includes/status.jade
