extends ../layouts/user

block body
    - var sideClass = ""
    - var middleClass = ""
    - var largeSideClass = ""
    - var largeMiddleClass = ""
    if isAFriend || isMe || isAPublicAccount
        - sideClass = "col-sm-3"
        - middleClass = "col-md-6"
        - largeSideClass = "col-sm-offset-1"
        - largeMiddleClass = "col-md-4"
    else
        - sideClass = "col-sm-4"
        - middleClass = "col-md-8"
        - largeSideClass = ""
        - largeMiddleClass = ""
    .col-xs-12(class=sideClass check-screen-width large-size=largeSideClass)
        if isAFriend || isMe || isAPublicAccount
            //- Photos/Videos
            include ../includes/medias
        else
            //- Users
            include ../includes/users.jade
    .col-xs-12.center-bloc(class=middleClass check-screen-width large-size=largeMiddleClass)
        +alert(profileAlerts)
        //- Profile
        include ../includes/profile
        if isAFriend || isMe || isAPublicAccount
            //- Publications
            include ../includes/status
            
    if (isAFriend || isMe || isAPublicAccount)
        .col-xs-12(class=sideClass)
            if !profile.maskFriendList || isMe
                //- Friends
                include ../includes/friends
                include ../includes/asks-for-friend
            if !profile.maskFollowList || isMe
                include ../includes/following

    +data('at', profile.hashedId)
    +data('sharedAlbumId', profile.sharedAlbumId)
    +data('photoUploadAlbumId', profile.photoUploadAlbumId)
