extends signin

block home-link-text
	=s("Connexion")

block body
	.container: section
		#resetPasswordErrors
			+alert(resetPasswordAlerts)
		.well
			h4
				=s("Réinitialisation du mot de passe")
			+form("", "POST")
				p
					=s("Pour choisir un nouveau mot de passe, entrez-le dans les deux champs ci-dessous.")
				.check-pass
					+formControl("password")(
						required
						title=s("Choisissez un mot de passe")
						ng-model="user.password"
						name="password"
						placeholder=s("Choisissez un mot de passe")
						tooltip!=[
							s("Mot de passe"),
							s("Un mot de passe fort vous permetra de sécuriser votre compte wornet contre toute tentative de piratage. Pour un mot de passe fort, ajoutez des majuscules, des symboles et des chiffres.") +
							jd('.pass-security\n\t.bar'
								+ '\n\t\t.inner.verylow ' + s("Faible")
								+ '\n\t\t.inner.low ' + s("Assez faible")
								+ '\n\t\t.inner.medium ' + s("Moyen")
								+ '\n\t\t.inner.high ' + s("Fort")
								+ '\n\t\t.inner.veryhigh ' + s("Très fort")
							),
							"bottom"
						]).flash
				+formControl("password")(
					required
					title=s("Confirmez votre mot de passe")
					ng-model="user.passwordCheck"
					name="passwordCheck"
					placeholder=s("Confirmez votre mot de passe")
					tooltip!=[
						s("Confirmer le mot de passe"),
						s("La confirmation du mot de passe permet d’éviter tout erreur de frappe."),
						"bottom"
					]).flash
				input(type="submit" tabindex="11" value=s("Valider")).btn.btn-plain.glued
