extends ../layouts/user

block body
	.col-xs-12
		+alert(settingsAlerts)
		include ../includes/profile-mixins

		.well.settings-edit(ng-controller="SettingsCtrl")
			#certification.modal.fade: .modal-dialog: .modal-content
				include ../includes/certification-form
			+form("/user/settings")
				fieldset
					h3
						=userTexts.identityTitle
						| &nbsp;
						if !certifPendingOrApproved
							a.certification-link(data-toggle="modal" data-target="#certification" class=(user.accountConfidentiality=="public") ? "" : "hidden")
								=userTexts.certification
					h6
						=userTexts.identityHint
				
					//- Identity
					label
						span
							=userTexts.firstName
						+formControl(name="name.first" value=user.firstName required)
					label
						span
							=userTexts.lastName
						+formControl(name="name.last" value=user.lastName required)
					label
						span
							=userTexts.sex
						select.form-control(autocomplete="off" value=user.sex required name="sex")
							option(value="" selected=(user.sex=="default"))
								=userTexts.chooseSex
							option(value="man" selected=(user.sex=="man"))
								=userTexts.man
							option(value="woman" selected=(user.sex=="woman"))
								=userTexts.woman	
					label
						span
							=userTexts.birthDate
						+formControl(type="date" name="birthDate" value=user.birthDate.toString('YYYY-MM-DD'))
					hr.cb
					label
						span
							=userTexts.email
						+formControl(autocomplete="off" name="email" value=user.email pattern=pattern('email'))
					label
						span
							=s("Mot de passe")
						a.change-password-link(ng-click="showPasswordFields()")
							=s("Changer de mot de passe")
						.password-fields
							span
							.check-pass
								+formControl("password")(
									autocomplete="off"
									name="actualPassword"
									placeholder=s("Actuel")
									tooltip!=[
										s("Mot de passe"),
										s("Un mot de passe fort vous permetra de sécuriser votre compte wornet contre toute tentative de piratage. Pour un mot de passe fort, ajoutez des majuscules, des symboles et des chiffres.") +
										jd('.pass-security\n\t.bar'
											+ '\n\t\t.inner.verylow ' + s("Faible")
											+ '\n\t\t.inner.low ' + s("Assez faible")
											+ '\n\t\t.inner.medium ' + s("Moyen")
											+ '\n\t\t.inner.high ' + s("Fort")
											+ '\n\t\t.inner.veryhigh ' + s("Très fort")
										)
									]).flash
								a.toggle-password-view.actualPassword(ng-click="togglePasswordVisu('actualPassword')")
									+glyph('eye-open')
								.cb
							span
							.check-pass
								+formControl("password")(
									autocomplete="off"
									name="newPassword" 
									placeholder=s("Nouveau")
									tooltip!=[
										s("Mot de passe"),
										s("Un mot de passe fort vous permetra de sécuriser votre compte wornet contre toute tentative de piratage. Pour un mot de passe fort, ajoutez des majuscules, des symboles et des chiffres.") +
										jd('.pass-security\n\t.bar'
											+ '\n\t\t.inner.verylow ' + s("Faible")
											+ '\n\t\t.inner.low ' + s("Assez faible")
											+ '\n\t\t.inner.medium ' + s("Moyen")
											+ '\n\t\t.inner.high ' + s("Fort")
											+ '\n\t\t.inner.veryhigh ' + s("Très fort")
										)
									]).flash
								a.toggle-password-view.newPassword(ng-click="togglePasswordVisu('newPassword')")
									+glyph('eye-open')
								.cb
							span
							.check-pass
								+formControl("password")(
									autocomplete="off"
									name="newPasswordAgain"
									placeholder=s("Confirmer")
									tooltip!=[
										s("Mot de passe"),
										s("Un mot de passe fort vous permetra de sécuriser votre compte wornet contre toute tentative de piratage. Pour un mot de passe fort, ajoutez des majuscules, des symboles et des chiffres.") +
										jd('.pass-security\n\t.bar'
											+ '\n\t\t.inner.verylow ' + s("Faible")
											+ '\n\t\t.inner.low ' + s("Assez faible")
											+ '\n\t\t.inner.medium ' + s("Moyen")
											+ '\n\t\t.inner.high ' + s("Fort")
											+ '\n\t\t.inner.veryhigh ' + s("Très fort")
										)
									]).flash
								a.toggle-password-view.newPasswordAgain(ng-click="togglePasswordVisu('newPasswordAgain')")
									+glyph('eye-open')
								.cb
				fieldset
					h3
						=userTexts.confidentialityTitle
					h6
						=userTexts.confidentialityHint
					//- Privacy
					#certification-warning.alert.alert-warning.hidden
						=userTexts.certificationWarning
					#followed-warning.alert.alert-warning.hidden
						=userTexts.followedWarning
					label
						span
							=userTexts.privacy
						select#account-confidentiality.form-control(autocomplete="off" name="accountConfidentiality" data-certified-account=certifPendingOrApproved.toString())
							option(value="private" selected=(user.accountConfidentiality=="private"))
								=userTexts.private
							option(value="public" selected=(user.accountConfidentiality=="public"))
								=userTexts.public
						label.right.settings-hint.account-confidentiality-hint-private(class=(user.accountConfidentiality=="private") ? "" : "hidden")
							=userTexts.accountConfidentialityHintPrivate
						label.right.settings-hint.account-confidentiality-hint-public(class=(user.accountConfidentiality=="public") ? "" : "hidden")
							=userTexts.accountConfidentialityHintPublic
					span#allowFriendPostOnMe(class=(user.accountConfidentiality=="public") ? "" : "hidden")
						span
							=userTexts.allowFriendPostOnMe
						label
							=s("Oui")
							| &nbsp;
							input(type="radio" name="allowFriendPostOnMe" id="allowFriendPostOnMeOui" value="on" checked=user.allowFriendPostOnMe)
						label
							=s("Non")
							| &nbsp;
							input(type="radio" name="allowFriendPostOnMe" id="allowFriendPostOnMeNon" value="off" checked=!user.allowFriendPostOnMe)
					label.right#urlIdDisponibility(class=(user.accountConfidentiality=="public") ? "" : "hidden")
					label#urlIdContainer(class=(user.accountConfidentiality=="public") ? "" : "hidden")
						span
							=userTexts.customURL
						+formControl#uniqueURLID(name="uniqueURLID" value=user.uniqueURLID required ng-keyUp="generateURLVisu()")
						input.btn.checkURLID(type="button" value=userTexts.btnCheckURLID ng-click="checkURLID()")
						label.right.settings-hint#urlVisual
					label#publicName(class=(user.accountConfidentiality=="public") ? "" : "hidden")
						span
							=userTexts.publicName
						+formControl(name="name.public" value=user.name.public)
						label.right.settings-hint.publicName-hint
							=userTexts.publicNameHint
					span
						span
							=userTexts.confidentialityBirthDate
						label
							=s("Oui")
							| &nbsp;
							input(type="radio" name="maskBirthDate" id="confidentialityBirthDatePrive" value="on" checked=user.maskBirthDate)
						label
							=s("Non")
							| &nbsp;
							input(type="radio" name="maskBirthDate" id="confidentialityBirthDatePublic" value="off" checked=!user.maskBirthDate)
					br
					span.confidentialityFriendList(class=(user.accountConfidentiality=="private") ? "" : "hidden")
						span
							=userTexts.confidentialityFriendList
						label
							=s("Oui")
							| &nbsp;
							input(type="radio" name="maskFriendList" id="confidentialityFriendListPrive" value="on" checked=user.maskFriendList)
						label
							=s("Non")
							| &nbsp;
							input(type="radio" name="maskFriendList" id="confidentialityFriendListPublic" value="off" checked=!user.maskFriendList)
					br
					span.confidentialityFollowList(class=(user.accountConfidentiality=="private") ? "" : "hidden")
						span
							=userTexts.confidentialityFollowList
						label
							=s("Oui")
							| &nbsp;
							input(type="radio" name="maskFollowList" id="confidentialityFollowListPrive" value="on" checked=user.maskFollowList)
						label
							=s("Non")
							| &nbsp;
							input(type="radio" name="maskFollowList" id="confidentialityFollowListPublic" value="off" checked=!user.maskFollowList)
					//- Notification
						.opt-group
							input(type="checkbox" name="newsletter" id="newsletter" checked=user.newsletter)
							label(for="newsletter")
								=s("S'abonner à la newsletter Oui ou Non Suivez les évènements et autres manifestations proposées par votre réseau social préféré !")
						.opt-group
							input(type="checkbox" name="noticeFriendAsk" id="noticeFriendAsk" checked=user.noticeFriendAsk)
							label(for="noticeFriendAsk")
								=s("M'avertir lors d'une demande d'ajout.")
						.opt-group
							input(type="checkbox" name="noticePublish" id="noticePublish" checked=user.noticePublish)
							label(for="noticePublish")
								=s("M'avertir lors de la publication d'un statut sur mon profil.")
						.opt-group
							input(type="checkbox" name="noticeMessage" id="noticeMessage" checked=user.noticeMessage)
							label(for="noticeMessage")
								=s("M'avertir lors de la réception d'un message privé.")
				
				.btn-group
					input.btn.btn-primary(type="submit" value=s("Enregistrer"))
				.btn-group
					a.btn.cancel(href="/")
						=s("Retour à l'accueil")
					| &nbsp; 
				div.after-form.cb
					a#delete-account(data-message=s("Êtes-vous sûr de vouloir supprimer définitivement votre compte, et tout son contenu (images, publications, et toutes les informations liées à votre compte) ?") + '<br><br>' + s("Veuillez entrer votre mot de passe :") data-title=s("Êtes-vous sûr de vouloir supprimer votre compte ?"))
						=s("Supprimer définitivement mon compte")
				.cb
