extends ../layouts/user

block body
	.col-xs-12
		+alert(settingsAlerts)
		include ../includes/profile-mixins

		.well.settings-edit
			+form("/user/settings")
				//- Identity
				label
					span
						=userTexts.firstName
					+formControl(name="name.first" value=user.firstName)
				label
					span
						=userTexts.lastName
					+formControl(name="name.last" value=user.lastName)
				hr.cb
				label
					span
						=userTexts.email
					+formControl(autocomplete="off" name="email" value=user.email pattern=pattern('email'))
				label
					span
						=s("Changement de mot de passe")
						br
						small: i
							=s("Si vide, pas de changement de mot de passe.")
					+formControl("password")(autocomplete="off" name="password" placeholder=s("Entrez votre nouveau mot de passe"))
				hr.cb
				//- Privacy
				label
					span
						=userTexts.privacy
					select.form-control(autocomplete="off")
						option(value="")
							=userTexts.private
				//- Notification
					.opt-group
						input(type="checkbox" name="newsletter" id="newsletter" checked=user.newsletter)
						label(for="newsletter")
							=s("S'abonner à la newsletter Oui ou Non Suivez les évènements et autres manifestations proposées par votre réseau social préféré !")
					.opt-group
						input(type="checkbox" name="noticeFriendAsk" id="noticeFriendAsk" checked=user.noticeFriendAsk)
						label(for="noticeFriendAsk")
							=s("M'avertir lors d'une demande d'ajout.")
					.opt-group
						input(type="checkbox" name="noticePublish" id="noticePublish" checked=user.noticePublish)
						label(for="noticePublish")
							=s("M'avertir lors de la publication d'un statut sur mon profil.")
					.opt-group
						input(type="checkbox" name="noticeMessage" id="noticeMessage" checked=user.noticeMessage)
						label(for="noticeMessage")
							=s("M'avertir lors de la réception d'un message privé.")
				.btn-group
					input.btn(type="submit" value=s("Valider les modifications"))
				.btn-group
					a.btn(href="/")
						=s("Retour à l'accueil")
					| &nbsp; 
				div.after-form
					a#delete-account(href="#" data-message=s("Êtes-vous sûr de vouloir supprimer définitivement votre compte, et tout son contenu (images, publications, et toutes les informations liées à votre compte) ?") + '<br><br>' + s("Veuillez entrer votre mot de passe :") data-title=s("Êtes-vous sûr de vouloir supprimer votre compte ?"))
						=s("Supprimer définitivement mon compte")
				.cb
