extends ../layouts/simple


block inner-nav
	#mainLinks.collapse.navbar-collapse
		ul.nav.navbar-nav.navbar-right
			li.dropdown
				a.dropdown-toggle(href="/" data-toggle="dropdown")
					block home-link-text
						=s("Vous avez déjà un compte ? Connectez-vous !")


block body
	.container: section
		#signinErrors
			+alert(signinAlerts)
		.well.loading(ng-controller="SigninSecondStepCtrl")
			+form("/user/signin", "PUT")(ng-submit="submit(user)")
				.col-sm-6.col-xs-12
					.cb
						+formControl()(
							autofocus
							required
							pattern=pattern('email')
							title=s("Votre e-mail")
							ng-model="user.email"
							name="email"
							value=email
							placeholder=s("Votre e-mail")
							tooltip!=[
								s("Adresse électronique"),
								s("Votre adresse électronique est affiliée à votre profil, elle nous permet de vérifier votre identité et vous permet d’accéder à votre compte wornet."),
								"right"
							]).flash
					.check-pass
						+formControl("password")(
							required
							title=s("Votre mot de passe")
							ng-model="user.password"
							name="password"
							placeholder=s("Votre mot de passe")
							tooltip!=[
								s("Mot de passe"),
								s("Un mot de passe fort vous permetra de sécuriser votre compte wornet contre toute tentative de piratage. Pour un mot de passe fort, ajoutez des majuscules, des symboles et des chiffres.") +
								jd('.pass-security\n\t.bar'
									+ '\n\t\t.inner.verylow ' + s("Faible")
									+ '\n\t\t.inner.low ' + s("Assez faible")
									+ '\n\t\t.inner.medium ' + s("Moyen")
									+ '\n\t\t.inner.high ' + s("Fort")
									+ '\n\t\t.inner.veryhigh ' + s("Très fort")
								),
								"right"
							]).flash
					+formControl("password")(
						required
						title=s("Confirmez votre mot de passe")
						ng-model="user.passwordCheck"
						name="passwordCheck"
						placeholder=s("Confirmez votre mot de passe")
						tooltip!=[
							s("Confirmer le mot de passe"),
							s("La confirmation du mot de passe permet d’éviter tout erreur de frappe."),
							"right"
						]).flash
				.col-sm-6.col-xs-12
					+formControl("name.fisrt")(
						required
						title=userTexts.firstName
						pattern=pattern('simple-text')
						ng-model="user.name.first"
						name="name.first"
						placeholder=userTexts.firstName).flash
					+formControl("name.last")(
						required
						title=userTexts.lastName
						pattern=pattern('simple-text')
						ng-model="user.name.last"
						name="name.last"
						placeholder=userTexts.lastName).flash
					+formControl("birthDate")(
						required
						type="date"
						title=userTexts.birthDate
						min=(new Date).tomorrow().subYears(config.wornet.limits.userMaxAge).toString('YYYY-MM-DD')
						max=(new Date).subYears(config.wornet.limits.userMinAge).toString('YYYY-MM-DD')
						ng-model="user.birthDate"
						name="birthDate"
						placeholder=userTexts.birthDate
						tooltip!=[
							userTexts.birthDate,
							s("Votre date de naissance est obligatoire. Elle nous permet de vérifier si vous entrez bien dans la tranche d’âge définit par nos conditions générales d’utilisations et permet à vos amis de vous retrouver instantanément.")
						]).flash
				.col-sm-6.col-sm-offset-3.col-xs-12
					label.mobile-field
						input(type="checkbox" ng-model="user.remember" name="remember" tabindex="3" checked).flash
						=s("Se souvenir de moi")
					label.mobile-field
						input(type="checkbox" ng-model="user.legals" name="legals" required).flash
						- var legals = jd('a(data-toggle="modal" data-target="#legals")\n\t="' + s("les conditions générales d'utilisation") + '"')
						- var privacyPolicy = jd('a(data-toggle="modal" data-target="#privacyPolicy")\n\t="' + s("la politique de confidentialité") + '"')
						!=s("J'accepte {legals} et {privacyPolicy}", { legals: legals, privacyPolicy: privacyPolicy })
					input.btn.btn-plain(type="submit" value=s("Je m'inscris"))
					input(type="hidden" ng-model="user.step" name="step" value="2")
				.cb

		+simpleModal(s("Conditions générales"))#legals: p
			=s("Blablabla")

		+simpleModal(s("Politique de confidentialité"))#privacyPolicy: p
			=s("Blablabla")
