extends ../layouts/wornet

block nav
	header: nav: .container
		#logo-content.col-md-5.col-sm-4.col-xs-12
			img#logo.img-responsive(src=png("logohd") alt=s("Wornet"))
		.col-md-6.col-md-offset-1.col-sm-8.col-xs-12
			.narrow.col-sm-6.col-sm-offset-6.col-xs-12
				a.btn.btn-plain(href="/user/login")
					=s("Connexion")

block body
	.container: section
		#signinErrors
			if signinErrors
				each error in signinErrors
					.alert.alert-danger
						=error
		.well
			+form("/user/signin", "PUT")(ng-submit="submit(user)" ng-controller="SigninCtrl")
			.col-sm-6.col-xs-12
				+formControl()(
					title=s("Votre e-mail")
					ng-model="user.email"
					name="email"
					placeholder=s("Votre e-mail")
					tooltip!=[
						s("Adresse électronique"),
						s("Votre adresse électronique est affiliée à votre profil, elle nous permet de vérifier votre identité et vous permet d’accéder à votre compte wornet."),
						"right"
					])
				.check-pass
					+formControl("password")(
						title=s("Votre mot de passe")
						ng-model="user.password"
						name="password"
						placeholder=s("Votre mot de passe")
						tooltip!=[
							s("Mot de passe"),
							s("Un mot de passe fort vous permetra de sécuriser votre compte wornet contre toute tentative de piratage. Pour un mot de passe fort, ajoutez des majuscules, des symboles et des chiffres.") +
							jd('.pass-security\n\t.bar'
								+ '\n\t\t.inner.verylow ' + s("Faible")
								+ '\n\t\t.inner.low ' + s("Assez faible")
								+ '\n\t\t.inner.medium ' + s("Moyen")
								+ '\n\t\t.inner.high ' + s("Fort")
								+ '\n\t\t.inner.veryhigh ' + s("Très fort")
							),
							"right"
						])
				+formControl("password")(
					title=s("Confirmez votre mot de passe")
					ng-model="user.passwordCheck"
					name="passwordCheck"
					placeholder=s("Confirmez votre mot de passe")
					tooltip!=[
						s("Confirmer le mot de passe"),
						s("La confirmation du mot de passe permet d’éviter tout erreur de frappe."),
						"right"
					])
			.col-sm-6.col-xs-12
				+formControl("name.fisrt")(
					title=s("Prénom")
					ng-model="user.name.first"
					name="name.fisrt"
					placeholder=s("Prénom"))
				+formControl("name.last")(
					title=s("Nom")
					ng-model="user.name.last"
					name="name.last"
					placeholder=s("Nom"))
				+formControl("birthDate")(
					type="date"
					title=s("Date de naissance")
					ng-model="user.birthDate"
					name="birthDate"
					placeholder=s("Date de naissance")
					tooltip!=[
						s("Date de naissance"),
						s("La confirmation du mot de passe permet d’éviter tout erreur de frappe.")
					])
			.col-sm-6.col-sm-offset-3.col-xs-12
				input.btn.btn-plain(type="submit" value=s("Je m'inscris"))
			.cb