extends ../layouts/user

block body
	- var init = "statusToDisplay = " + JSON.stringify(status) + ";"
	- init += "setMonoStatut(true, statusToDisplay)"
	.col-sm-3
	.col-sm-6.well.loading.loading-big-height.fit-to-bottom.macro(ng-controller="StatusCtrl" ng-init=init)
		.status-block(data-id="{{ statusToDisplay._id }}" ng-if="(statusToDisplay.images && statusToDisplay.images.length) || (statusToDisplay.links && statusToDisplay.links.length) || (statusToDisplay.videos && statusToDisplay.videos.length) || (statusToDisplay.content && statusToDisplay.content.length)")
			- var init = "statusToDisplay.edit = false;"
			- init += "statusToDisplay.originalContent = statusToDisplay.content;"
			.aside.settings.continue(ng-init=init ng-if="statusToDisplay.author.hashedId")
				a.dropdown-toggle(data-toggle="dropdown")
					+half('cog')
				ul.dropdown-menu(role="menu")
					li(ng-if="statusToDisplay.concernMe && statusToDisplay.isMine")
						a.ajax(ng-click="toggleStatusState(statusToDisplay, true)" data-toggle="tooltip" data-placement="top" title=s("Modifier ce contenu"))
							+half('pencil')
							| &nbsp; 
							=s("Modifier")
					li(ng-if="statusToDisplay.concernMe")
						a.ajax(ng-click="delete(statusToDisplay, $event)" data-toggle="tooltip" data-placement="top" title=s("Supprimer ce contenu"))
							+half('trash')
							| &nbsp; 
							=s("Supprimer")
					li(ng-if="! statusToDisplay.reported")
						a.ajax(href="/report/{{ statusToDisplay._id }}" ng-click="report(statusToDisplay, $event)" data-toggle="tooltip" data-placement="top" title=s("Signaler ce contenu comme inapproprié"))
							+half('exclamation-sign')
							| &nbsp; 
							=s("Signaler")
				.alert.alert-success(ng-if="statusToDisplay.reported")
					=s("Une alerte a été envoyée aux modérateurs de Wornet. Merci pour votre aide.")
			.aside.continue.settings(ng-if="! statusToDisplay.author.hashedId")
				a.dropdown-toggle(data-toggle="dropdown")
					+half('cog')
				ul.dropdown-menu(role="menu")
					li: a.ajax(ng-click="delete(statusToDisplay, $event)" data-toggle="tooltip" data-placement="top" title=s("Supprimer ce contenu"))
						+half('trash')
						| &nbsp; 
						=s("Supprimer")
			.status-author
				.status-users-thumb
					a(ng-href="/{{ statusToDisplay.author.uniqueURLID }}" ng-if="statusToDisplay.author.hashedId")
						img(ng-src="{{ statusToDisplay.author.thumb50 }}" data-user-thumb="{{ statusToDisplay.author.hashedId }}" data-thumb-size="50")
					a(ng-href="/{{ statusToDisplay.at.uniqueURLID }}" ng-if="statusToDisplay.at")
						img(ng-src="{{ statusToDisplay.at.thumb50 }}" data-user-thumb="{{ statusToDisplay.at.hashedId }}" data-thumb-size="50")
				div
					+link("/{{ statusToDisplay.author.uniqueURLID }}", "{{ statusToDisplay.author.name.full }}")(ng-if="statusToDisplay.author.hashedId")
					a(ng-if="! statusToDisplay.author.hashedId") {{ statusToDisplay.author.name.full }}
				div(ng-if="statusToDisplay.at")
					+half('chevron-right')
					+link("/{{ statusToDisplay.at.uniqueURLID }}", "{{ statusToDisplay.at.name.full }}")
			.date(data-date="{{ statusToDisplay.date }}" ng-if="statusToDisplay.author.hashedId")
				|&nbsp;
			.status-content
				.alert.alert-info.glued(ng-if="statusToDisplay.status === 'blocked'")
					=s("Ce contenu a été bloqué.")
			.status-content.word-wrap(ng-if="statusToDisplay.content && statusToDisplay.content.length && statusToDisplay.status !== 'blocked' && !statusToDisplay.edit" ng-bind-html="statusToDisplay.content")
			.status-content-edit(ng-if="statusToDisplay.edit")
				+form()(ng-submit="statusToDisplay.edit = false; updateStatus(statusToDisplay); statusToDisplay.originalContent = statusToDisplay.content;").cb
					textarea.form-control(focus ng-model='statusToDisplay.content' placeholder=s("Vous n'avez rien à dire ? :O") rows='5')
					input.btn.col-xs-12.col-sm-6.fit.cancel(type="button" ng-click="toggleStatusState(status, false)" value=s("Annuler"))
					input.btn.col-xs-12.col-sm-6.fit.btn-primary(type="submit" value=s("Envoyer"))
			.medias(ng-if="statusToDisplay.status !== 'blocked' && (statusToDisplay.images.length > 0 || statusToDisplay.videos.length > 0 || statusToDisplay.links.length > 0)")
				div(ng-if="statusToDisplay.images.length > 0")
					//- h3(ng-if="statusToDisplay.album")
					//- 	a.album-name(href="/user/album/{{ statusToDisplay.album }}")
					//- 		+half('folder-open')
					//- 		|&nbsp; {{ statusToDisplay.albumName }}
					//- h3(ng-if="! statusToDisplay.album")
					//- 	=s("Images")
					.media-image(ng-repeat="image in statusToDisplay.images | orderBy: '-src'")
						a(data-toggle="modal" data-target="#media-viewer" ng-click="loadMedia('image', image)")
							img(ng-src="{{ image.src }}" alt="{{ image.name }}")
				div(ng-if="statusToDisplay.videos.length > 0")
					//- h3=s("Vidéos")
					div(ng-repeat="video in statusToDisplay.videos")
						iframe.preview(ng-if="displayPlayer" ng-src="{{ video.href }}" frameborder="0" allowfullscreen resize-youtube-player)
						a.mobile-video(ng-if="! displayPlayer" data-toggle="modal" data-target="#status-view" ng-click="loadMedia('video', video)")
							img.video-preview(ng-src="{{ thumbnail(video.href) }}" width="240" height="180")
							+half('play')
				div(ng-if="statusToDisplay.links.length > 0")
					h3=s("Liens")
					a(ng-repeat="link in statusToDisplay.links" target="_blank" href="{{ link.https ? 'https' : 'http' }}://{{ link.href }}") {{ link.href.substr(0, 34) + (link.href.length > 34 ? '...': '') }}
			.cb
			div(ng-if="statusToDisplay._id !== '" + StatusPackage.DEFAULT_STATUS_ID + "'")
				if config.wornet.comments.enabled || config.wornet.plusW.enabled
					.status-actions
						if config.wornet.plusW.enabled
							span.btn.btn-action-plus-w(ng-class="{ full: statusToDisplay.likedByMe }" ng-click="toggleLike(statusToDisplay)")
							span.like-zone(ng-click="displaylikerList(statusToDisplay)")
								| {{ nbLikeText(statusToDisplay) }}
						if config.wornet.comments.enabled
							span.btn-action-comment(ng-click="toggleCommentBlock(statusToDisplay)")
								span.btn.icon
								span
									| {{ nbCommentText(statusToDisplay) }}
					.cb
				if config.wornet.comments.enabled
					.comment-list(ng-if="statusToDisplay.comments && statusToDisplay.comments.length && statusToDisplay.commentList")
						.comment-block(ng-repeat="comment in statusToDisplay.comments" data-data="{{ comment._id }}")
							- var init = "comment.edit = false;"
							- init += "comment.originalContent = comment.content;"
							.aside.settings.continue(ng-init=init ng-if="comment.author.hashedId && (comment.isMine || comment.onMyWall)")
								a.dropdown-toggle(data-toggle="dropdown")
									+half('cog')
								ul.dropdown-menu(role="menu")
									li(ng-if="comment.isMine")
										a.ajax(non-block-click="comment.edit = true;" data-toggle="tooltip" data-placement="top" title=s("Modifier ce commentaire"))
											+half('pencil')
											| &nbsp; 
											=s("Modifier")
									li(ng-if="comment.isMine || comment.onMyWall")
										a.ajax(ng-click="deleteComment(comment)" data-toggle="tooltip" data-placement="top" title=s("Supprimer ce commentaire"))
											+half('trash')
											| &nbsp; 
											=s("Supprimer")
							.comment-author
								img(ng-src="{{ comment.author.thumb50 }}" data-user-thumb="{{ comment.author.hashedId }}" data-thumb-size="50")
								+link("/{{ comment.author.uniqueURLID }}", "{{ comment.author.name.full }}")
							.date(data-date="{{ comment.date }}")
								|&nbsp;
							.comment-content.word-wrap(ng-if="comment.content && comment.content.length && comment.status !== 'blocked' && !comment.edit" ng-bind-html="comment.content | smilies")
							.comment-edit(ng-if="comment.edit")
								+form()(ng-submit="comment.edit = false; updateComment(comment); comment.originalContent = comment.content;").cb
									textarea.form-control(focus ng-model='comment.content' placeholder=s("Commentaire..."))
									input.btn.col-xs-12.col-sm-6.fit.cancel(type="button" ng-click="comment.content = comment.originalContent; comment.edit = false" value=s("Annuler"))
									input.btn.col-xs-12.col-sm-6.fit.btn-primary(type="submit" value=s("Envoyer"))
							.cb
					.comment-form(ng-if="statusToDisplay.commentForm")
						+form()(ng-submit="sendComment(statusToDisplay)").cb
							textarea.form-control(focus ng-model='statusToDisplay.newComment.content' placeholder=s("Ajouter un commentaire..."))
							input.btn.btn-primary(type="submit" value=s("Envoyer"))
							input.btn.cancel(type="button" ng-click="toggleCommentBlock(statusToDisplay)" value=s("Annuler"))
	.col-sm-3
	if config.wornet.comments.enabled
		+data('commentsEnabled', true)
